xml-resources/web-service-references/EmpresaWS/wsdl/localhost_8080/AcuarioWeb/EmpresaWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.acuario/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.acuario/" name="EmpresaWS">
<types>
<xsd:schema>
<xsd:import namespace="http://services.acuario/" schemaLocation="http://localhost:8080/AcuarioWeb/EmpresaWS?xsd=1"/>
</xsd:schema>
</types>
<message name="findEmpresaByNombre">
<part name="parameters" element="tns:findEmpresaByNombre"/>
</message>
<message name="findEmpresaByNombreResponse">
<part name="parameters" element="tns:findEmpresaByNombreResponse"/>
</message>
<message name="findEmpresaByIdentidad">
<part name="parameters" element="tns:findEmpresaByIdentidad"/>
</message>
<message name="findEmpresaByIdentidadResponse">
<part name="parameters" element="tns:findEmpresaByIdentidadResponse"/>
</message>
<message name="findAllEmpresa">
<part name="parameters" element="tns:findAllEmpresa"/>
</message>
<message name="findAllEmpresaResponse">
<part name="parameters" element="tns:findAllEmpresaResponse"/>
</message>
<message name="editEmpresa">
<part name="parameters" element="tns:editEmpresa"/>
</message>
<message name="editEmpresaResponse">
<part name="parameters" element="tns:editEmpresaResponse"/>
</message>
<message name="findEmpresa">
<part name="parameters" element="tns:findEmpresa"/>
</message>
<message name="findEmpresaResponse">
<part name="parameters" element="tns:findEmpresaResponse"/>
</message>
<message name="removeEmpresa">
<part name="parameters" element="tns:removeEmpresa"/>
</message>
<message name="removeEmpresaResponse">
<part name="parameters" element="tns:removeEmpresaResponse"/>
</message>
<message name="createEmpresa">
<part name="parameters" element="tns:createEmpresa"/>
</message>
<message name="createEmpresaResponse">
<part name="parameters" element="tns:createEmpresaResponse"/>
</message>
<message name="countEmpresa">
<part name="parameters" element="tns:countEmpresa"/>
</message>
<message name="countEmpresaResponse">
<part name="parameters" element="tns:countEmpresaResponse"/>
</message>
<message name="createIdEmpresa">
<part name="parameters" element="tns:createIdEmpresa"/>
</message>
<message name="createIdEmpresaResponse">
<part name="parameters" element="tns:createIdEmpresaResponse"/>
</message>
<portType name="EmpresaWS">
<operation name="findEmpresaByNombre">
<input wsam:Action="http://services.acuario/EmpresaWS/findEmpresaByNombreRequest" message="tns:findEmpresaByNombre"/>
<output wsam:Action="http://services.acuario/EmpresaWS/findEmpresaByNombreResponse" message="tns:findEmpresaByNombreResponse"/>
</operation>
<operation name="findEmpresaByIdentidad">
<input wsam:Action="http://services.acuario/EmpresaWS/findEmpresaByIdentidadRequest" message="tns:findEmpresaByIdentidad"/>
<output wsam:Action="http://services.acuario/EmpresaWS/findEmpresaByIdentidadResponse" message="tns:findEmpresaByIdentidadResponse"/>
</operation>
<operation name="findAllEmpresa">
<input wsam:Action="http://services.acuario/EmpresaWS/findAllEmpresaRequest" message="tns:findAllEmpresa"/>
<output wsam:Action="http://services.acuario/EmpresaWS/findAllEmpresaResponse" message="tns:findAllEmpresaResponse"/>
</operation>
<operation name="editEmpresa">
<input wsam:Action="http://services.acuario/EmpresaWS/editEmpresaRequest" message="tns:editEmpresa"/>
<output wsam:Action="http://services.acuario/EmpresaWS/editEmpresaResponse" message="tns:editEmpresaResponse"/>
</operation>
<operation name="findEmpresa">
<input wsam:Action="http://services.acuario/EmpresaWS/findEmpresaRequest" message="tns:findEmpresa"/>
<output wsam:Action="http://services.acuario/EmpresaWS/findEmpresaResponse" message="tns:findEmpresaResponse"/>
</operation>
<operation name="removeEmpresa">
<input wsam:Action="http://services.acuario/EmpresaWS/removeEmpresaRequest" message="tns:removeEmpresa"/>
<output wsam:Action="http://services.acuario/EmpresaWS/removeEmpresaResponse" message="tns:removeEmpresaResponse"/>
</operation>
<operation name="createEmpresa">
<input wsam:Action="http://services.acuario/EmpresaWS/createEmpresaRequest" message="tns:createEmpresa"/>
<output wsam:Action="http://services.acuario/EmpresaWS/createEmpresaResponse" message="tns:createEmpresaResponse"/>
</operation>
<operation name="countEmpresa">
<input wsam:Action="http://services.acuario/EmpresaWS/countEmpresaRequest" message="tns:countEmpresa"/>
<output wsam:Action="http://services.acuario/EmpresaWS/countEmpresaResponse" message="tns:countEmpresaResponse"/>
</operation>
<operation name="createIdEmpresa">
<input wsam:Action="http://services.acuario/EmpresaWS/createIdEmpresaRequest" message="tns:createIdEmpresa"/>
<output wsam:Action="http://services.acuario/EmpresaWS/createIdEmpresaResponse" message="tns:createIdEmpresaResponse"/>
</operation>
</portType>
<binding name="EmpresaWSPortBinding" type="tns:EmpresaWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findEmpresaByNombre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findEmpresaByIdentidad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllEmpresa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editEmpresa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findEmpresa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeEmpresa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createEmpresa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countEmpresa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createIdEmpresa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="EmpresaWS">
<port name="EmpresaWSPort" binding="tns:EmpresaWSPortBinding">
<soap:address location="http://localhost:8080/AcuarioWeb/EmpresaWS"/>
</port>
</service>
</definitions>