xml-resources/web-service-references/EmpresaWS/wsdl/localhost_8080/AcuarioWeb/EmpresaWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://services.acuario/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.acuario/">

<xs:element name="countEmpresa" type="tns:countEmpresa"/>

<xs:element name="countEmpresaResponse" type="tns:countEmpresaResponse"/>

<xs:element name="createEmpresa" type="tns:createEmpresa"/>

<xs:element name="createEmpresaResponse" type="tns:createEmpresaResponse"/>

<xs:element name="createIdEmpresa" type="tns:createIdEmpresa"/>

<xs:element name="createIdEmpresaResponse" type="tns:createIdEmpresaResponse"/>

<xs:element name="editEmpresa" type="tns:editEmpresa"/>

<xs:element name="editEmpresaResponse" type="tns:editEmpresaResponse"/>

<xs:element name="empresa" type="tns:empresa"/>

<xs:element name="findAllEmpresa" type="tns:findAllEmpresa"/>

<xs:element name="findAllEmpresaResponse" type="tns:findAllEmpresaResponse"/>

<xs:element name="findEmpresa" type="tns:findEmpresa"/>

<xs:element name="findEmpresaByIdentidad" type="tns:findEmpresaByIdentidad"/>

<xs:element name="findEmpresaByIdentidadResponse" type="tns:findEmpresaByIdentidadResponse"/>

<xs:element name="findEmpresaByNombre" type="tns:findEmpresaByNombre"/>

<xs:element name="findEmpresaByNombreResponse" type="tns:findEmpresaByNombreResponse"/>

<xs:element name="findEmpresaResponse" type="tns:findEmpresaResponse"/>

<xs:element name="persona" type="tns:persona"/>

<xs:element name="removeEmpresa" type="tns:removeEmpresa"/>

<xs:element name="removeEmpresaResponse" type="tns:removeEmpresaResponse"/>

<xs:complexType name="findAllEmpresa">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllEmpresaResponse">
<xs:sequence>
<xs:element name="return" type="tns:empresa" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="empresa">
<xs:sequence>
<xs:element name="empresacoordlat" type="xs:decimal" minOccurs="0"/>
<xs:element name="empresacoordlon" type="xs:decimal" minOccurs="0"/>
<xs:element name="empresadescripcion" type="xs:string" minOccurs="0"/>
<xs:element name="empresadiario" type="xs:int" minOccurs="0"/>
<xs:element name="empresadireccion" type="xs:string" minOccurs="0"/>
<xs:element name="empresaempleado" type="xs:int" minOccurs="0"/>
<xs:element name="empresaestado" type="xs:string" minOccurs="0"/>
<xs:element name="empresaid" type="xs:int" minOccurs="0"/>
<xs:element name="empresanombre" type="xs:string" minOccurs="0"/>
<xs:element name="empresarut" type="xs:string" minOccurs="0"/>
<xs:element name="empresatelefono" type="xs:string" minOccurs="0"/>
<xs:element name="empresatransaccion" type="xs:int" minOccurs="0"/>
<xs:element name="personaid" type="tns:persona" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="persona">
<xs:sequence>
<xs:element name="personaapellidos" type="xs:string" minOccurs="0"/>
<xs:element name="personaciudad" type="xs:string" minOccurs="0"/>
<xs:element name="personacomuna" type="xs:string" minOccurs="0"/>
<xs:element name="personacoordlat" type="xs:decimal" minOccurs="0"/>
<xs:element name="personacoordlon" type="xs:decimal" minOccurs="0"/>
<xs:element name="personacorreo" type="xs:string" minOccurs="0"/>
<xs:element name="personadireccion" type="xs:string" minOccurs="0"/>
<xs:element name="personaestado" type="xs:string" minOccurs="0"/>
<xs:element name="personafoto" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="personaid" type="xs:int" minOccurs="0"/>
<xs:element name="personamovil" type="xs:string" minOccurs="0"/>
<xs:element name="personanombres" type="xs:string" minOccurs="0"/>
<xs:element name="personarut" type="xs:string" minOccurs="0"/>
<xs:element name="personatelefono" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findEmpresa">
<xs:sequence>
<xs:element name="id" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findEmpresaResponse">
<xs:sequence>
<xs:element name="return" type="tns:empresa" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editEmpresa">
<xs:sequence>
<xs:element name="entity" type="tns:empresa" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editEmpresaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findEmpresaByIdentidad">
<xs:sequence>
<xs:element name="rut" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findEmpresaByIdentidadResponse">
<xs:sequence>
<xs:element name="return" type="tns:empresa" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findEmpresaByNombre">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findEmpresaByNombreResponse">
<xs:sequence>
<xs:element name="return" type="tns:empresa" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createEmpresa">
<xs:sequence>
<xs:element name="entity" type="tns:empresa" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createEmpresaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="countEmpresa">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="countEmpresaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeEmpresa">
<xs:sequence>
<xs:element name="entity" type="tns:empresa" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeEmpresaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createIdEmpresa">
<xs:sequence>
<xs:element name="entity" type="tns:empresa" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createIdEmpresaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>