xml-resources/web-service-references/IngresoforpagWS/wsdl/localhost_8080/AcuarioWeb/IngresoforpagWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.acuario/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.acuario/" name="IngresoforpagWS">
<types>
<xsd:schema>
<xsd:import namespace="http://services.acuario/" schemaLocation="http://localhost:8080/AcuarioWeb/IngresoforpagWS?xsd=1"/>
</xsd:schema>
</types>
<message name="createIngresoforpag">
<part name="parameters" element="tns:createIngresoforpag"/>
</message>
<message name="createIngresoforpagResponse">
<part name="parameters" element="tns:createIngresoforpagResponse"/>
</message>
<message name="editIngresoforpag">
<part name="parameters" element="tns:editIngresoforpag"/>
</message>
<message name="editIngresoforpagResponse">
<part name="parameters" element="tns:editIngresoforpagResponse"/>
</message>
<message name="findIngresoforpag">
<part name="parameters" element="tns:findIngresoforpag"/>
</message>
<message name="findIngresoforpagResponse">
<part name="parameters" element="tns:findIngresoforpagResponse"/>
</message>
<message name="createIdIngresoforpag">
<part name="parameters" element="tns:createIdIngresoforpag"/>
</message>
<message name="createIdIngresoforpagResponse">
<part name="parameters" element="tns:createIdIngresoforpagResponse"/>
</message>
<message name="countIngresoforpag">
<part name="parameters" element="tns:countIngresoforpag"/>
</message>
<message name="countIngresoforpagResponse">
<part name="parameters" element="tns:countIngresoforpagResponse"/>
</message>
<message name="findAllIngresoforpag">
<part name="parameters" element="tns:findAllIngresoforpag"/>
</message>
<message name="findAllIngresoforpagResponse">
<part name="parameters" element="tns:findAllIngresoforpagResponse"/>
</message>
<message name="removeIngresoforpag">
<part name="parameters" element="tns:removeIngresoforpag"/>
</message>
<message name="removeIngresoforpagResponse">
<part name="parameters" element="tns:removeIngresoforpagResponse"/>
</message>
<message name="findByIngresoforpagIngresoid">
<part name="parameters" element="tns:findByIngresoforpagIngresoid"/>
</message>
<message name="findByIngresoforpagIngresoidResponse">
<part name="parameters" element="tns:findByIngresoforpagIngresoidResponse"/>
</message>
<portType name="IngresoforpagWS">
<operation name="createIngresoforpag">
<input wsam:Action="http://services.acuario/IngresoforpagWS/createIngresoforpagRequest" message="tns:createIngresoforpag"/>
<output wsam:Action="http://services.acuario/IngresoforpagWS/createIngresoforpagResponse" message="tns:createIngresoforpagResponse"/>
</operation>
<operation name="editIngresoforpag">
<input wsam:Action="http://services.acuario/IngresoforpagWS/editIngresoforpagRequest" message="tns:editIngresoforpag"/>
<output wsam:Action="http://services.acuario/IngresoforpagWS/editIngresoforpagResponse" message="tns:editIngresoforpagResponse"/>
</operation>
<operation name="findIngresoforpag">
<input wsam:Action="http://services.acuario/IngresoforpagWS/findIngresoforpagRequest" message="tns:findIngresoforpag"/>
<output wsam:Action="http://services.acuario/IngresoforpagWS/findIngresoforpagResponse" message="tns:findIngresoforpagResponse"/>
</operation>
<operation name="createIdIngresoforpag">
<input wsam:Action="http://services.acuario/IngresoforpagWS/createIdIngresoforpagRequest" message="tns:createIdIngresoforpag"/>
<output wsam:Action="http://services.acuario/IngresoforpagWS/createIdIngresoforpagResponse" message="tns:createIdIngresoforpagResponse"/>
</operation>
<operation name="countIngresoforpag">
<input wsam:Action="http://services.acuario/IngresoforpagWS/countIngresoforpagRequest" message="tns:countIngresoforpag"/>
<output wsam:Action="http://services.acuario/IngresoforpagWS/countIngresoforpagResponse" message="tns:countIngresoforpagResponse"/>
</operation>
<operation name="findAllIngresoforpag">
<input wsam:Action="http://services.acuario/IngresoforpagWS/findAllIngresoforpagRequest" message="tns:findAllIngresoforpag"/>
<output wsam:Action="http://services.acuario/IngresoforpagWS/findAllIngresoforpagResponse" message="tns:findAllIngresoforpagResponse"/>
</operation>
<operation name="removeIngresoforpag">
<input wsam:Action="http://services.acuario/IngresoforpagWS/removeIngresoforpagRequest" message="tns:removeIngresoforpag"/>
<output wsam:Action="http://services.acuario/IngresoforpagWS/removeIngresoforpagResponse" message="tns:removeIngresoforpagResponse"/>
</operation>
<operation name="findByIngresoforpagIngresoid">
<input wsam:Action="http://services.acuario/IngresoforpagWS/findByIngresoforpagIngresoidRequest" message="tns:findByIngresoforpagIngresoid"/>
<output wsam:Action="http://services.acuario/IngresoforpagWS/findByIngresoforpagIngresoidResponse" message="tns:findByIngresoforpagIngresoidResponse"/>
</operation>
</portType>
<binding name="IngresoforpagWSPortBinding" type="tns:IngresoforpagWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createIngresoforpag">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editIngresoforpag">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findIngresoforpag">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createIdIngresoforpag">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countIngresoforpag">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllIngresoforpag">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeIngresoforpag">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByIngresoforpagIngresoid">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="IngresoforpagWS">
<port name="IngresoforpagWSPort" binding="tns:IngresoforpagWSPortBinding">
<soap:address location="http://localhost:8080/AcuarioWeb/IngresoforpagWS"/>
</port>
</service>
</definitions>