xml-resources/web-service-references/InsumoWS/wsdl/localhost_8080/AcuarioWeb/InsumoWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.acuario/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.acuario/" name="InsumoWS">
<types>
<xsd:schema>
<xsd:import namespace="http://services.acuario/" schemaLocation="http://localhost:8080/AcuarioWeb/InsumoWS?xsd=1"/>
</xsd:schema>
</types>
<message name="findInsumoByCodigo">
<part name="parameters" element="tns:findInsumoByCodigo"/>
</message>
<message name="findInsumoByCodigoResponse">
<part name="parameters" element="tns:findInsumoByCodigoResponse"/>
</message>
<message name="findInsumoByNombre">
<part name="parameters" element="tns:findInsumoByNombre"/>
</message>
<message name="findInsumoByNombreResponse">
<part name="parameters" element="tns:findInsumoByNombreResponse"/>
</message>
<message name="findByInsumocodigo">
<part name="parameters" element="tns:findByInsumocodigo"/>
</message>
<message name="findByInsumocodigoResponse">
<part name="parameters" element="tns:findByInsumocodigoResponse"/>
</message>
<message name="removeInsumo">
<part name="parameters" element="tns:removeInsumo"/>
</message>
<message name="removeInsumoResponse">
<part name="parameters" element="tns:removeInsumoResponse"/>
</message>
<message name="createInsumo">
<part name="parameters" element="tns:createInsumo"/>
</message>
<message name="createInsumoResponse">
<part name="parameters" element="tns:createInsumoResponse"/>
</message>
<message name="findByInsumoid">
<part name="parameters" element="tns:findByInsumoid"/>
</message>
<message name="findByInsumoidResponse">
<part name="parameters" element="tns:findByInsumoidResponse"/>
</message>
<message name="createIdInsumo">
<part name="parameters" element="tns:createIdInsumo"/>
</message>
<message name="createIdInsumoResponse">
<part name="parameters" element="tns:createIdInsumoResponse"/>
</message>
<message name="findInsumo">
<part name="parameters" element="tns:findInsumo"/>
</message>
<message name="findInsumoResponse">
<part name="parameters" element="tns:findInsumoResponse"/>
</message>
<message name="editInsumo">
<part name="parameters" element="tns:editInsumo"/>
</message>
<message name="editInsumoResponse">
<part name="parameters" element="tns:editInsumoResponse"/>
</message>
<message name="findAllInsumo">
<part name="parameters" element="tns:findAllInsumo"/>
</message>
<message name="findAllInsumoResponse">
<part name="parameters" element="tns:findAllInsumoResponse"/>
</message>
<message name="countInsumo">
<part name="parameters" element="tns:countInsumo"/>
</message>
<message name="countInsumoResponse">
<part name="parameters" element="tns:countInsumoResponse"/>
</message>
<portType name="InsumoWS">
<operation name="findInsumoByCodigo">
<input wsam:Action="http://services.acuario/InsumoWS/findInsumoByCodigoRequest" message="tns:findInsumoByCodigo"/>
<output wsam:Action="http://services.acuario/InsumoWS/findInsumoByCodigoResponse" message="tns:findInsumoByCodigoResponse"/>
</operation>
<operation name="findInsumoByNombre">
<input wsam:Action="http://services.acuario/InsumoWS/findInsumoByNombreRequest" message="tns:findInsumoByNombre"/>
<output wsam:Action="http://services.acuario/InsumoWS/findInsumoByNombreResponse" message="tns:findInsumoByNombreResponse"/>
</operation>
<operation name="findByInsumocodigo">
<input wsam:Action="http://services.acuario/InsumoWS/findByInsumocodigoRequest" message="tns:findByInsumocodigo"/>
<output wsam:Action="http://services.acuario/InsumoWS/findByInsumocodigoResponse" message="tns:findByInsumocodigoResponse"/>
</operation>
<operation name="removeInsumo">
<input wsam:Action="http://services.acuario/InsumoWS/removeInsumoRequest" message="tns:removeInsumo"/>
<output wsam:Action="http://services.acuario/InsumoWS/removeInsumoResponse" message="tns:removeInsumoResponse"/>
</operation>
<operation name="createInsumo">
<input wsam:Action="http://services.acuario/InsumoWS/createInsumoRequest" message="tns:createInsumo"/>
<output wsam:Action="http://services.acuario/InsumoWS/createInsumoResponse" message="tns:createInsumoResponse"/>
</operation>
<operation name="findByInsumoid">
<input wsam:Action="http://services.acuario/InsumoWS/findByInsumoidRequest" message="tns:findByInsumoid"/>
<output wsam:Action="http://services.acuario/InsumoWS/findByInsumoidResponse" message="tns:findByInsumoidResponse"/>
</operation>
<operation name="createIdInsumo">
<input wsam:Action="http://services.acuario/InsumoWS/createIdInsumoRequest" message="tns:createIdInsumo"/>
<output wsam:Action="http://services.acuario/InsumoWS/createIdInsumoResponse" message="tns:createIdInsumoResponse"/>
</operation>
<operation name="findInsumo">
<input wsam:Action="http://services.acuario/InsumoWS/findInsumoRequest" message="tns:findInsumo"/>
<output wsam:Action="http://services.acuario/InsumoWS/findInsumoResponse" message="tns:findInsumoResponse"/>
</operation>
<operation name="editInsumo">
<input wsam:Action="http://services.acuario/InsumoWS/editInsumoRequest" message="tns:editInsumo"/>
<output wsam:Action="http://services.acuario/InsumoWS/editInsumoResponse" message="tns:editInsumoResponse"/>
</operation>
<operation name="findAllInsumo">
<input wsam:Action="http://services.acuario/InsumoWS/findAllInsumoRequest" message="tns:findAllInsumo"/>
<output wsam:Action="http://services.acuario/InsumoWS/findAllInsumoResponse" message="tns:findAllInsumoResponse"/>
</operation>
<operation name="countInsumo">
<input wsam:Action="http://services.acuario/InsumoWS/countInsumoRequest" message="tns:countInsumo"/>
<output wsam:Action="http://services.acuario/InsumoWS/countInsumoResponse" message="tns:countInsumoResponse"/>
</operation>
</portType>
<binding name="InsumoWSPortBinding" type="tns:InsumoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findInsumoByCodigo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findInsumoByNombre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByInsumocodigo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeInsumo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createInsumo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByInsumoid">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createIdInsumo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findInsumo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editInsumo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllInsumo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countInsumo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="InsumoWS">
<port name="InsumoWSPort" binding="tns:InsumoWSPortBinding">
<soap:address location="http://localhost:8080/AcuarioWeb/InsumoWS"/>
</port>
</service>
</definitions>