xml-resources/web-service-references/ProgramaperfilWS/wsdl/localhost_8080/AcuarioWeb/ProgramaperfilWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.acuario/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.acuario/" name="ProgramaperfilWS">
<types>
<xsd:schema>
<xsd:import namespace="http://services.acuario/" schemaLocation="http://localhost:8080/AcuarioWeb/ProgramaperfilWS?xsd=1"/>
</xsd:schema>
</types>
<message name="createProgramaperfil">
<part name="parameters" element="tns:createProgramaperfil"/>
</message>
<message name="createProgramaperfilResponse">
<part name="parameters" element="tns:createProgramaperfilResponse"/>
</message>
<message name="editProgramaperfil">
<part name="parameters" element="tns:editProgramaperfil"/>
</message>
<message name="editProgramaperfilResponse">
<part name="parameters" element="tns:editProgramaperfilResponse"/>
</message>
<message name="removeProgramaperfil">
<part name="parameters" element="tns:removeProgramaperfil"/>
</message>
<message name="removeProgramaperfilResponse">
<part name="parameters" element="tns:removeProgramaperfilResponse"/>
</message>
<message name="findProgramaperfil">
<part name="parameters" element="tns:findProgramaperfil"/>
</message>
<message name="findProgramaperfilResponse">
<part name="parameters" element="tns:findProgramaperfilResponse"/>
</message>
<message name="findAllProgramaperfil">
<part name="parameters" element="tns:findAllProgramaperfil"/>
</message>
<message name="findAllProgramaperfilResponse">
<part name="parameters" element="tns:findAllProgramaperfilResponse"/>
</message>
<message name="countProgramaperfil">
<part name="parameters" element="tns:countProgramaperfil"/>
</message>
<message name="countProgramaperfilResponse">
<part name="parameters" element="tns:countProgramaperfilResponse"/>
</message>
<message name="listaProgramas">
<part name="parameters" element="tns:listaProgramas"/>
</message>
<message name="listaProgramasResponse">
<part name="parameters" element="tns:listaProgramasResponse"/>
</message>
<message name="createIdProgramaperfil">
<part name="parameters" element="tns:createIdProgramaperfil"/>
</message>
<message name="createIdProgramaperfilResponse">
<part name="parameters" element="tns:createIdProgramaperfilResponse"/>
</message>
<portType name="ProgramaperfilWS">
<operation name="createProgramaperfil">
<input wsam:Action="http://services.acuario/ProgramaperfilWS/createProgramaperfilRequest" message="tns:createProgramaperfil"/>
<output wsam:Action="http://services.acuario/ProgramaperfilWS/createProgramaperfilResponse" message="tns:createProgramaperfilResponse"/>
</operation>
<operation name="editProgramaperfil">
<input wsam:Action="http://services.acuario/ProgramaperfilWS/editProgramaperfilRequest" message="tns:editProgramaperfil"/>
<output wsam:Action="http://services.acuario/ProgramaperfilWS/editProgramaperfilResponse" message="tns:editProgramaperfilResponse"/>
</operation>
<operation name="removeProgramaperfil">
<input wsam:Action="http://services.acuario/ProgramaperfilWS/removeProgramaperfilRequest" message="tns:removeProgramaperfil"/>
<output wsam:Action="http://services.acuario/ProgramaperfilWS/removeProgramaperfilResponse" message="tns:removeProgramaperfilResponse"/>
</operation>
<operation name="findProgramaperfil">
<input wsam:Action="http://services.acuario/ProgramaperfilWS/findProgramaperfilRequest" message="tns:findProgramaperfil"/>
<output wsam:Action="http://services.acuario/ProgramaperfilWS/findProgramaperfilResponse" message="tns:findProgramaperfilResponse"/>
</operation>
<operation name="findAllProgramaperfil">
<input wsam:Action="http://services.acuario/ProgramaperfilWS/findAllProgramaperfilRequest" message="tns:findAllProgramaperfil"/>
<output wsam:Action="http://services.acuario/ProgramaperfilWS/findAllProgramaperfilResponse" message="tns:findAllProgramaperfilResponse"/>
</operation>
<operation name="countProgramaperfil">
<input wsam:Action="http://services.acuario/ProgramaperfilWS/countProgramaperfilRequest" message="tns:countProgramaperfil"/>
<output wsam:Action="http://services.acuario/ProgramaperfilWS/countProgramaperfilResponse" message="tns:countProgramaperfilResponse"/>
</operation>
<operation name="listaProgramas">
<input wsam:Action="http://services.acuario/ProgramaperfilWS/listaProgramasRequest" message="tns:listaProgramas"/>
<output wsam:Action="http://services.acuario/ProgramaperfilWS/listaProgramasResponse" message="tns:listaProgramasResponse"/>
</operation>
<operation name="createIdProgramaperfil">
<input wsam:Action="http://services.acuario/ProgramaperfilWS/createIdProgramaperfilRequest" message="tns:createIdProgramaperfil"/>
<output wsam:Action="http://services.acuario/ProgramaperfilWS/createIdProgramaperfilResponse" message="tns:createIdProgramaperfilResponse"/>
</operation>
</portType>
<binding name="ProgramaperfilWSPortBinding" type="tns:ProgramaperfilWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createProgramaperfil">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editProgramaperfil">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeProgramaperfil">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findProgramaperfil">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllProgramaperfil">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countProgramaperfil">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listaProgramas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createIdProgramaperfil">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ProgramaperfilWS">
<port name="ProgramaperfilWSPort" binding="tns:ProgramaperfilWSPortBinding">
<soap:address location="http://localhost:8080/AcuarioWeb/ProgramaperfilWS"/>
</port>
</service>
</definitions>