xml-resources/web-service-references/UsuarioWS/wsdl/localhost_8080/AcuarioWeb/UsuarioWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.acuario/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.acuario/" name="UsuarioWS">
<types>
<xsd:schema>
<xsd:import namespace="http://services.acuario/" schemaLocation="http://localhost:8080/AcuarioWeb/UsuarioWS?xsd=1"/>
</xsd:schema>
</types>
<message name="findUsuarioByIdentidad">
<part name="parameters" element="tns:findUsuarioByIdentidad"/>
</message>
<message name="findUsuarioByIdentidadResponse">
<part name="parameters" element="tns:findUsuarioByIdentidadResponse"/>
</message>
<message name="findUsuarioByNombre">
<part name="parameters" element="tns:findUsuarioByNombre"/>
</message>
<message name="findUsuarioByNombreResponse">
<part name="parameters" element="tns:findUsuarioByNombreResponse"/>
</message>
<message name="createUsuario">
<part name="parameters" element="tns:createUsuario"/>
</message>
<message name="createUsuarioResponse">
<part name="parameters" element="tns:createUsuarioResponse"/>
</message>
<message name="findUsuario">
<part name="parameters" element="tns:findUsuario"/>
</message>
<message name="findUsuarioResponse">
<part name="parameters" element="tns:findUsuarioResponse"/>
</message>
<message name="validarUsuario">
<part name="parameters" element="tns:validarUsuario"/>
</message>
<message name="validarUsuarioResponse">
<part name="parameters" element="tns:validarUsuarioResponse"/>
</message>
<message name="findAllUsuario">
<part name="parameters" element="tns:findAllUsuario"/>
</message>
<message name="findAllUsuarioResponse">
<part name="parameters" element="tns:findAllUsuarioResponse"/>
</message>
<message name="editUsuario">
<part name="parameters" element="tns:editUsuario"/>
</message>
<message name="editUsuarioResponse">
<part name="parameters" element="tns:editUsuarioResponse"/>
</message>
<message name="removeUsuario">
<part name="parameters" element="tns:removeUsuario"/>
</message>
<message name="removeUsuarioResponse">
<part name="parameters" element="tns:removeUsuarioResponse"/>
</message>
<message name="createIdUsuario">
<part name="parameters" element="tns:createIdUsuario"/>
</message>
<message name="createIdUsuarioResponse">
<part name="parameters" element="tns:createIdUsuarioResponse"/>
</message>
<message name="countUsuario">
<part name="parameters" element="tns:countUsuario"/>
</message>
<message name="countUsuarioResponse">
<part name="parameters" element="tns:countUsuarioResponse"/>
</message>
<portType name="UsuarioWS">
<operation name="findUsuarioByIdentidad">
<input wsam:Action="http://services.acuario/UsuarioWS/findUsuarioByIdentidadRequest" message="tns:findUsuarioByIdentidad"/>
<output wsam:Action="http://services.acuario/UsuarioWS/findUsuarioByIdentidadResponse" message="tns:findUsuarioByIdentidadResponse"/>
</operation>
<operation name="findUsuarioByNombre">
<input wsam:Action="http://services.acuario/UsuarioWS/findUsuarioByNombreRequest" message="tns:findUsuarioByNombre"/>
<output wsam:Action="http://services.acuario/UsuarioWS/findUsuarioByNombreResponse" message="tns:findUsuarioByNombreResponse"/>
</operation>
<operation name="createUsuario">
<input wsam:Action="http://services.acuario/UsuarioWS/createUsuarioRequest" message="tns:createUsuario"/>
<output wsam:Action="http://services.acuario/UsuarioWS/createUsuarioResponse" message="tns:createUsuarioResponse"/>
</operation>
<operation name="findUsuario">
<input wsam:Action="http://services.acuario/UsuarioWS/findUsuarioRequest" message="tns:findUsuario"/>
<output wsam:Action="http://services.acuario/UsuarioWS/findUsuarioResponse" message="tns:findUsuarioResponse"/>
</operation>
<operation name="validarUsuario">
<input wsam:Action="http://services.acuario/UsuarioWS/validarUsuarioRequest" message="tns:validarUsuario"/>
<output wsam:Action="http://services.acuario/UsuarioWS/validarUsuarioResponse" message="tns:validarUsuarioResponse"/>
</operation>
<operation name="findAllUsuario">
<input wsam:Action="http://services.acuario/UsuarioWS/findAllUsuarioRequest" message="tns:findAllUsuario"/>
<output wsam:Action="http://services.acuario/UsuarioWS/findAllUsuarioResponse" message="tns:findAllUsuarioResponse"/>
</operation>
<operation name="editUsuario">
<input wsam:Action="http://services.acuario/UsuarioWS/editUsuarioRequest" message="tns:editUsuario"/>
<output wsam:Action="http://services.acuario/UsuarioWS/editUsuarioResponse" message="tns:editUsuarioResponse"/>
</operation>
<operation name="removeUsuario">
<input wsam:Action="http://services.acuario/UsuarioWS/removeUsuarioRequest" message="tns:removeUsuario"/>
<output wsam:Action="http://services.acuario/UsuarioWS/removeUsuarioResponse" message="tns:removeUsuarioResponse"/>
</operation>
<operation name="createIdUsuario">
<input wsam:Action="http://services.acuario/UsuarioWS/createIdUsuarioRequest" message="tns:createIdUsuario"/>
<output wsam:Action="http://services.acuario/UsuarioWS/createIdUsuarioResponse" message="tns:createIdUsuarioResponse"/>
</operation>
<operation name="countUsuario">
<input wsam:Action="http://services.acuario/UsuarioWS/countUsuarioRequest" message="tns:countUsuario"/>
<output wsam:Action="http://services.acuario/UsuarioWS/countUsuarioResponse" message="tns:countUsuarioResponse"/>
</operation>
</portType>
<binding name="UsuarioWSPortBinding" type="tns:UsuarioWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findUsuarioByIdentidad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findUsuarioByNombre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createIdUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="UsuarioWS">
<port name="UsuarioWSPort" binding="tns:UsuarioWSPortBinding">
<soap:address location="http://localhost:8080/AcuarioWeb/UsuarioWS"/>
</port>
</service>
</definitions>