xml-resources/web-service-references/FormapagoWS/wsdl/localhost_8080/AcuarioWeb/FormapagoWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.acuario/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.acuario/" name="FormapagoWS">
<types>
<xsd:schema>
<xsd:import namespace="http://services.acuario/" schemaLocation="http://localhost:8080/AcuarioWeb/FormapagoWS?xsd=1"/>
</xsd:schema>
</types>
<message name="findFormapagoByNombre">
<part name="parameters" element="tns:findFormapagoByNombre"/>
</message>
<message name="findFormapagoByNombreResponse">
<part name="parameters" element="tns:findFormapagoByNombreResponse"/>
</message>
<message name="createIdFormapago">
<part name="parameters" element="tns:createIdFormapago"/>
</message>
<message name="createIdFormapagoResponse">
<part name="parameters" element="tns:createIdFormapagoResponse"/>
</message>
<message name="findFormapagoById">
<part name="parameters" element="tns:findFormapagoById"/>
</message>
<message name="findFormapagoByIdResponse">
<part name="parameters" element="tns:findFormapagoByIdResponse"/>
</message>
<message name="editFormapago">
<part name="parameters" element="tns:editFormapago"/>
</message>
<message name="editFormapagoResponse">
<part name="parameters" element="tns:editFormapagoResponse"/>
</message>
<message name="createFormapago">
<part name="parameters" element="tns:createFormapago"/>
</message>
<message name="createFormapagoResponse">
<part name="parameters" element="tns:createFormapagoResponse"/>
</message>
<message name="removeFormapago">
<part name="parameters" element="tns:removeFormapago"/>
</message>
<message name="removeFormapagoResponse">
<part name="parameters" element="tns:removeFormapagoResponse"/>
</message>
<message name="findAllFormapago">
<part name="parameters" element="tns:findAllFormapago"/>
</message>
<message name="findAllFormapagoResponse">
<part name="parameters" element="tns:findAllFormapagoResponse"/>
</message>
<message name="countFormapago">
<part name="parameters" element="tns:countFormapago"/>
</message>
<message name="countFormapagoResponse">
<part name="parameters" element="tns:countFormapagoResponse"/>
</message>
<message name="findFormapago">
<part name="parameters" element="tns:findFormapago"/>
</message>
<message name="findFormapagoResponse">
<part name="parameters" element="tns:findFormapagoResponse"/>
</message>
<portType name="FormapagoWS">
<operation name="findFormapagoByNombre">
<input wsam:Action="http://services.acuario/FormapagoWS/findFormapagoByNombreRequest" message="tns:findFormapagoByNombre"/>
<output wsam:Action="http://services.acuario/FormapagoWS/findFormapagoByNombreResponse" message="tns:findFormapagoByNombreResponse"/>
</operation>
<operation name="createIdFormapago">
<input wsam:Action="http://services.acuario/FormapagoWS/createIdFormapagoRequest" message="tns:createIdFormapago"/>
<output wsam:Action="http://services.acuario/FormapagoWS/createIdFormapagoResponse" message="tns:createIdFormapagoResponse"/>
</operation>
<operation name="findFormapagoById">
<input wsam:Action="http://services.acuario/FormapagoWS/findFormapagoByIdRequest" message="tns:findFormapagoById"/>
<output wsam:Action="http://services.acuario/FormapagoWS/findFormapagoByIdResponse" message="tns:findFormapagoByIdResponse"/>
</operation>
<operation name="editFormapago">
<input wsam:Action="http://services.acuario/FormapagoWS/editFormapagoRequest" message="tns:editFormapago"/>
<output wsam:Action="http://services.acuario/FormapagoWS/editFormapagoResponse" message="tns:editFormapagoResponse"/>
</operation>
<operation name="createFormapago">
<input wsam:Action="http://services.acuario/FormapagoWS/createFormapagoRequest" message="tns:createFormapago"/>
<output wsam:Action="http://services.acuario/FormapagoWS/createFormapagoResponse" message="tns:createFormapagoResponse"/>
</operation>
<operation name="removeFormapago">
<input wsam:Action="http://services.acuario/FormapagoWS/removeFormapagoRequest" message="tns:removeFormapago"/>
<output wsam:Action="http://services.acuario/FormapagoWS/removeFormapagoResponse" message="tns:removeFormapagoResponse"/>
</operation>
<operation name="findAllFormapago">
<input wsam:Action="http://services.acuario/FormapagoWS/findAllFormapagoRequest" message="tns:findAllFormapago"/>
<output wsam:Action="http://services.acuario/FormapagoWS/findAllFormapagoResponse" message="tns:findAllFormapagoResponse"/>
</operation>
<operation name="countFormapago">
<input wsam:Action="http://services.acuario/FormapagoWS/countFormapagoRequest" message="tns:countFormapago"/>
<output wsam:Action="http://services.acuario/FormapagoWS/countFormapagoResponse" message="tns:countFormapagoResponse"/>
</operation>
<operation name="findFormapago">
<input wsam:Action="http://services.acuario/FormapagoWS/findFormapagoRequest" message="tns:findFormapago"/>
<output wsam:Action="http://services.acuario/FormapagoWS/findFormapagoResponse" message="tns:findFormapagoResponse"/>
</operation>
</portType>
<binding name="FormapagoWSPortBinding" type="tns:FormapagoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findFormapagoByNombre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createIdFormapago">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findFormapagoById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editFormapago">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createFormapago">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeFormapago">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllFormapago">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countFormapago">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findFormapago">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="FormapagoWS">
<port name="FormapagoWSPort" binding="tns:FormapagoWSPortBinding">
<soap:address location="http://localhost:8080/AcuarioWeb/FormapagoWS"/>
</port>
</service>
</definitions>