xml-resources/web-service-references/PersonaWS/wsdl/localhost_8080/AcuarioWeb/PersonaWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.acuario/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.acuario/" name="PersonaWS">
<types>
<xsd:schema>
<xsd:import namespace="http://services.acuario/" schemaLocation="http://localhost:8080/AcuarioWeb/PersonaWS?xsd=1"/>
</xsd:schema>
</types>
<message name="findPersonaByNombre">
<part name="parameters" element="tns:findPersonaByNombre"/>
</message>
<message name="findPersonaByNombreResponse">
<part name="parameters" element="tns:findPersonaByNombreResponse"/>
</message>
<message name="findPersonaByIdentidad">
<part name="parameters" element="tns:findPersonaByIdentidad"/>
</message>
<message name="findPersonaByIdentidadResponse">
<part name="parameters" element="tns:findPersonaByIdentidadResponse"/>
</message>
<message name="removePersona">
<part name="parameters" element="tns:removePersona"/>
</message>
<message name="removePersonaResponse">
<part name="parameters" element="tns:removePersonaResponse"/>
</message>
<message name="findAllPersona">
<part name="parameters" element="tns:findAllPersona"/>
</message>
<message name="findAllPersonaResponse">
<part name="parameters" element="tns:findAllPersonaResponse"/>
</message>
<message name="createIdPersona">
<part name="parameters" element="tns:createIdPersona"/>
</message>
<message name="createIdPersonaResponse">
<part name="parameters" element="tns:createIdPersonaResponse"/>
</message>
<message name="editPersona">
<part name="parameters" element="tns:editPersona"/>
</message>
<message name="editPersonaResponse">
<part name="parameters" element="tns:editPersonaResponse"/>
</message>
<message name="createPersona">
<part name="parameters" element="tns:createPersona"/>
</message>
<message name="createPersonaResponse">
<part name="parameters" element="tns:createPersonaResponse"/>
</message>
<message name="countPersona">
<part name="parameters" element="tns:countPersona"/>
</message>
<message name="countPersonaResponse">
<part name="parameters" element="tns:countPersonaResponse"/>
</message>
<message name="findPersona">
<part name="parameters" element="tns:findPersona"/>
</message>
<message name="findPersonaResponse">
<part name="parameters" element="tns:findPersonaResponse"/>
</message>
<portType name="PersonaWS">
<operation name="findPersonaByNombre">
<input wsam:Action="http://services.acuario/PersonaWS/findPersonaByNombreRequest" message="tns:findPersonaByNombre"/>
<output wsam:Action="http://services.acuario/PersonaWS/findPersonaByNombreResponse" message="tns:findPersonaByNombreResponse"/>
</operation>
<operation name="findPersonaByIdentidad">
<input wsam:Action="http://services.acuario/PersonaWS/findPersonaByIdentidadRequest" message="tns:findPersonaByIdentidad"/>
<output wsam:Action="http://services.acuario/PersonaWS/findPersonaByIdentidadResponse" message="tns:findPersonaByIdentidadResponse"/>
</operation>
<operation name="removePersona">
<input wsam:Action="http://services.acuario/PersonaWS/removePersonaRequest" message="tns:removePersona"/>
<output wsam:Action="http://services.acuario/PersonaWS/removePersonaResponse" message="tns:removePersonaResponse"/>
</operation>
<operation name="findAllPersona">
<input wsam:Action="http://services.acuario/PersonaWS/findAllPersonaRequest" message="tns:findAllPersona"/>
<output wsam:Action="http://services.acuario/PersonaWS/findAllPersonaResponse" message="tns:findAllPersonaResponse"/>
</operation>
<operation name="createIdPersona">
<input wsam:Action="http://services.acuario/PersonaWS/createIdPersonaRequest" message="tns:createIdPersona"/>
<output wsam:Action="http://services.acuario/PersonaWS/createIdPersonaResponse" message="tns:createIdPersonaResponse"/>
</operation>
<operation name="editPersona">
<input wsam:Action="http://services.acuario/PersonaWS/editPersonaRequest" message="tns:editPersona"/>
<output wsam:Action="http://services.acuario/PersonaWS/editPersonaResponse" message="tns:editPersonaResponse"/>
</operation>
<operation name="createPersona">
<input wsam:Action="http://services.acuario/PersonaWS/createPersonaRequest" message="tns:createPersona"/>
<output wsam:Action="http://services.acuario/PersonaWS/createPersonaResponse" message="tns:createPersonaResponse"/>
</operation>
<operation name="countPersona">
<input wsam:Action="http://services.acuario/PersonaWS/countPersonaRequest" message="tns:countPersona"/>
<output wsam:Action="http://services.acuario/PersonaWS/countPersonaResponse" message="tns:countPersonaResponse"/>
</operation>
<operation name="findPersona">
<input wsam:Action="http://services.acuario/PersonaWS/findPersonaRequest" message="tns:findPersona"/>
<output wsam:Action="http://services.acuario/PersonaWS/findPersonaResponse" message="tns:findPersonaResponse"/>
</operation>
</portType>
<binding name="PersonaWSPortBinding" type="tns:PersonaWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findPersonaByNombre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findPersonaByIdentidad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removePersona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllPersona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createIdPersona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editPersona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createPersona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countPersona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findPersona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PersonaWS">
<port name="PersonaWSPort" binding="tns:PersonaWSPortBinding">
<soap:address location="http://localhost:8080/AcuarioWeb/PersonaWS"/>
</port>
</service>
</definitions>