src/META-INF/wsdl/localhost_8080/AcuarioWeb/ClienteWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.acuario/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.acuario/" name="ClienteWS">
<types>
<xsd:schema>
<xsd:import namespace="http://services.acuario/" schemaLocation="http://localhost:8080/AcuarioWeb/ClienteWS?xsd=1"/>
</xsd:schema>
</types>
<message name="findClienteByNombre">
<part name="parameters" element="tns:findClienteByNombre"/>
</message>
<message name="findClienteByNombreResponse">
<part name="parameters" element="tns:findClienteByNombreResponse"/>
</message>
<message name="findClienteByIdentidad">
<part name="parameters" element="tns:findClienteByIdentidad"/>
</message>
<message name="findClienteByIdentidadResponse">
<part name="parameters" element="tns:findClienteByIdentidadResponse"/>
</message>
<message name="findAllCliente">
<part name="parameters" element="tns:findAllCliente"/>
</message>
<message name="findAllClienteResponse">
<part name="parameters" element="tns:findAllClienteResponse"/>
</message>
<message name="createIdCliente">
<part name="parameters" element="tns:createIdCliente"/>
</message>
<message name="createIdClienteResponse">
<part name="parameters" element="tns:createIdClienteResponse"/>
</message>
<message name="editCliente">
<part name="parameters" element="tns:editCliente"/>
</message>
<message name="editClienteResponse">
<part name="parameters" element="tns:editClienteResponse"/>
</message>
<message name="createCliente">
<part name="parameters" element="tns:createCliente"/>
</message>
<message name="createClienteResponse">
<part name="parameters" element="tns:createClienteResponse"/>
</message>
<message name="removeCliente">
<part name="parameters" element="tns:removeCliente"/>
</message>
<message name="removeClienteResponse">
<part name="parameters" element="tns:removeClienteResponse"/>
</message>
<message name="findCliente">
<part name="parameters" element="tns:findCliente"/>
</message>
<message name="findClienteResponse">
<part name="parameters" element="tns:findClienteResponse"/>
</message>
<message name="countCliente">
<part name="parameters" element="tns:countCliente"/>
</message>
<message name="countClienteResponse">
<part name="parameters" element="tns:countClienteResponse"/>
</message>
<portType name="ClienteWS">
<operation name="findClienteByNombre">
<input wsam:Action="http://services.acuario/ClienteWS/findClienteByNombreRequest" message="tns:findClienteByNombre"/>
<output wsam:Action="http://services.acuario/ClienteWS/findClienteByNombreResponse" message="tns:findClienteByNombreResponse"/>
</operation>
<operation name="findClienteByIdentidad">
<input wsam:Action="http://services.acuario/ClienteWS/findClienteByIdentidadRequest" message="tns:findClienteByIdentidad"/>
<output wsam:Action="http://services.acuario/ClienteWS/findClienteByIdentidadResponse" message="tns:findClienteByIdentidadResponse"/>
</operation>
<operation name="findAllCliente">
<input wsam:Action="http://services.acuario/ClienteWS/findAllClienteRequest" message="tns:findAllCliente"/>
<output wsam:Action="http://services.acuario/ClienteWS/findAllClienteResponse" message="tns:findAllClienteResponse"/>
</operation>
<operation name="createIdCliente">
<input wsam:Action="http://services.acuario/ClienteWS/createIdClienteRequest" message="tns:createIdCliente"/>
<output wsam:Action="http://services.acuario/ClienteWS/createIdClienteResponse" message="tns:createIdClienteResponse"/>
</operation>
<operation name="editCliente">
<input wsam:Action="http://services.acuario/ClienteWS/editClienteRequest" message="tns:editCliente"/>
<output wsam:Action="http://services.acuario/ClienteWS/editClienteResponse" message="tns:editClienteResponse"/>
</operation>
<operation name="createCliente">
<input wsam:Action="http://services.acuario/ClienteWS/createClienteRequest" message="tns:createCliente"/>
<output wsam:Action="http://services.acuario/ClienteWS/createClienteResponse" message="tns:createClienteResponse"/>
</operation>
<operation name="removeCliente">
<input wsam:Action="http://services.acuario/ClienteWS/removeClienteRequest" message="tns:removeCliente"/>
<output wsam:Action="http://services.acuario/ClienteWS/removeClienteResponse" message="tns:removeClienteResponse"/>
</operation>
<operation name="findCliente">
<input wsam:Action="http://services.acuario/ClienteWS/findClienteRequest" message="tns:findCliente"/>
<output wsam:Action="http://services.acuario/ClienteWS/findClienteResponse" message="tns:findClienteResponse"/>
</operation>
<operation name="countCliente">
<input wsam:Action="http://services.acuario/ClienteWS/countClienteRequest" message="tns:countCliente"/>
<output wsam:Action="http://services.acuario/ClienteWS/countClienteResponse" message="tns:countClienteResponse"/>
</operation>
</portType>
<binding name="ClienteWSPortBinding" type="tns:ClienteWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findClienteByNombre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findClienteByIdentidad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createIdCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ClienteWS">
<port name="ClienteWSPort" binding="tns:ClienteWSPortBinding">
<soap:address location="http://localhost:8080/AcuarioWeb/ClienteWS"/>
</port>
</service>
</definitions>