src/META-INF/wsdl/localhost_8080/AcuarioWeb/CuentacontableWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.acuario/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.acuario/" name="CuentacontableWS">
<types>
<xsd:schema>
<xsd:import namespace="http://services.acuario/" schemaLocation="http://localhost:8080/AcuarioWeb/CuentacontableWS?xsd=1"/>
</xsd:schema>
</types>
<message name="createCuentacontable">
<part name="parameters" element="tns:createCuentacontable"/>
</message>
<message name="createCuentacontableResponse">
<part name="parameters" element="tns:createCuentacontableResponse"/>
</message>
<message name="createIdCuentacontable">
<part name="parameters" element="tns:createIdCuentacontable"/>
</message>
<message name="createIdCuentacontableResponse">
<part name="parameters" element="tns:createIdCuentacontableResponse"/>
</message>
<message name="editCuentacontable">
<part name="parameters" element="tns:editCuentacontable"/>
</message>
<message name="editCuentacontableResponse">
<part name="parameters" element="tns:editCuentacontableResponse"/>
</message>
<message name="removeCuentacontable">
<part name="parameters" element="tns:removeCuentacontable"/>
</message>
<message name="removeCuentacontableResponse">
<part name="parameters" element="tns:removeCuentacontableResponse"/>
</message>
<message name="findCuentacontable">
<part name="parameters" element="tns:findCuentacontable"/>
</message>
<message name="findCuentacontableResponse">
<part name="parameters" element="tns:findCuentacontableResponse"/>
</message>
<message name="findAllCuentacontable">
<part name="parameters" element="tns:findAllCuentacontable"/>
</message>
<message name="findAllCuentacontableResponse">
<part name="parameters" element="tns:findAllCuentacontableResponse"/>
</message>
<message name="countCuentacontable">
<part name="parameters" element="tns:countCuentacontable"/>
</message>
<message name="countCuentacontableResponse">
<part name="parameters" element="tns:countCuentacontableResponse"/>
</message>
<message name="findByCuentacontablecodigo">
<part name="parameters" element="tns:findByCuentacontablecodigo"/>
</message>
<message name="findByCuentacontablecodigoResponse">
<part name="parameters" element="tns:findByCuentacontablecodigoResponse"/>
</message>
<message name="findCuentacontableByCodigo">
<part name="parameters" element="tns:findCuentacontableByCodigo"/>
</message>
<message name="findCuentacontableByCodigoResponse">
<part name="parameters" element="tns:findCuentacontableByCodigoResponse"/>
</message>
<message name="findByCuentacontablemayor">
<part name="parameters" element="tns:findByCuentacontablemayor"/>
</message>
<message name="findByCuentacontablemayorResponse">
<part name="parameters" element="tns:findByCuentacontablemayorResponse"/>
</message>
<message name="findCuentacontableByNombre">
<part name="parameters" element="tns:findCuentacontableByNombre"/>
</message>
<message name="findCuentacontableByNombreResponse">
<part name="parameters" element="tns:findCuentacontableByNombreResponse"/>
</message>
<portType name="CuentacontableWS">
<operation name="createCuentacontable">
<input wsam:Action="http://services.acuario/CuentacontableWS/createCuentacontableRequest" message="tns:createCuentacontable"/>
<output wsam:Action="http://services.acuario/CuentacontableWS/createCuentacontableResponse" message="tns:createCuentacontableResponse"/>
</operation>
<operation name="createIdCuentacontable">
<input wsam:Action="http://services.acuario/CuentacontableWS/createIdCuentacontableRequest" message="tns:createIdCuentacontable"/>
<output wsam:Action="http://services.acuario/CuentacontableWS/createIdCuentacontableResponse" message="tns:createIdCuentacontableResponse"/>
</operation>
<operation name="editCuentacontable">
<input wsam:Action="http://services.acuario/CuentacontableWS/editCuentacontableRequest" message="tns:editCuentacontable"/>
<output wsam:Action="http://services.acuario/CuentacontableWS/editCuentacontableResponse" message="tns:editCuentacontableResponse"/>
</operation>
<operation name="removeCuentacontable">
<input wsam:Action="http://services.acuario/CuentacontableWS/removeCuentacontableRequest" message="tns:removeCuentacontable"/>
<output wsam:Action="http://services.acuario/CuentacontableWS/removeCuentacontableResponse" message="tns:removeCuentacontableResponse"/>
</operation>
<operation name="findCuentacontable">
<input wsam:Action="http://services.acuario/CuentacontableWS/findCuentacontableRequest" message="tns:findCuentacontable"/>
<output wsam:Action="http://services.acuario/CuentacontableWS/findCuentacontableResponse" message="tns:findCuentacontableResponse"/>
</operation>
<operation name="findAllCuentacontable">
<input wsam:Action="http://services.acuario/CuentacontableWS/findAllCuentacontableRequest" message="tns:findAllCuentacontable"/>
<output wsam:Action="http://services.acuario/CuentacontableWS/findAllCuentacontableResponse" message="tns:findAllCuentacontableResponse"/>
</operation>
<operation name="countCuentacontable">
<input wsam:Action="http://services.acuario/CuentacontableWS/countCuentacontableRequest" message="tns:countCuentacontable"/>
<output wsam:Action="http://services.acuario/CuentacontableWS/countCuentacontableResponse" message="tns:countCuentacontableResponse"/>
</operation>
<operation name="findByCuentacontablecodigo">
<input wsam:Action="http://services.acuario/CuentacontableWS/findByCuentacontablecodigoRequest" message="tns:findByCuentacontablecodigo"/>
<output wsam:Action="http://services.acuario/CuentacontableWS/findByCuentacontablecodigoResponse" message="tns:findByCuentacontablecodigoResponse"/>
</operation>
<operation name="findCuentacontableByCodigo">
<input wsam:Action="http://services.acuario/CuentacontableWS/findCuentacontableByCodigoRequest" message="tns:findCuentacontableByCodigo"/>
<output wsam:Action="http://services.acuario/CuentacontableWS/findCuentacontableByCodigoResponse" message="tns:findCuentacontableByCodigoResponse"/>
</operation>
<operation name="findByCuentacontablemayor">
<input wsam:Action="http://services.acuario/CuentacontableWS/findByCuentacontablemayorRequest" message="tns:findByCuentacontablemayor"/>
<output wsam:Action="http://services.acuario/CuentacontableWS/findByCuentacontablemayorResponse" message="tns:findByCuentacontablemayorResponse"/>
</operation>
<operation name="findCuentacontableByNombre">
<input wsam:Action="http://services.acuario/CuentacontableWS/findCuentacontableByNombreRequest" message="tns:findCuentacontableByNombre"/>
<output wsam:Action="http://services.acuario/CuentacontableWS/findCuentacontableByNombreResponse" message="tns:findCuentacontableByNombreResponse"/>
</operation>
</portType>
<binding name="CuentacontableWSPortBinding" type="tns:CuentacontableWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createCuentacontable">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createIdCuentacontable">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editCuentacontable">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeCuentacontable">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findCuentacontable">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllCuentacontable">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countCuentacontable">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByCuentacontablecodigo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findCuentacontableByCodigo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByCuentacontablemayor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findCuentacontableByNombre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CuentacontableWS">
<port name="CuentacontableWSPort" binding="tns:CuentacontableWSPortBinding">
<soap:address location="http://localhost:8080/AcuarioWeb/CuentacontableWS"/>
</port>
</service>
</definitions>