src/META-INF/wsdl/localhost_8080/AcuarioWeb/DiarioWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.acuario/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.acuario/" name="DiarioWS">
<types>
<xsd:schema>
<xsd:import namespace="http://services.acuario/" schemaLocation="http://localhost:8080/AcuarioWeb/DiarioWS?xsd=1"/>
</xsd:schema>
</types>
<message name="findDiarioByFecha">
<part name="parameters" element="tns:findDiarioByFecha"/>
</message>
<message name="findDiarioByFechaResponse">
<part name="parameters" element="tns:findDiarioByFechaResponse"/>
</message>
<message name="findAllDiario">
<part name="parameters" element="tns:findAllDiario"/>
</message>
<message name="findAllDiarioResponse">
<part name="parameters" element="tns:findAllDiarioResponse"/>
</message>
<message name="createDiario">
<part name="parameters" element="tns:createDiario"/>
</message>
<message name="createDiarioResponse">
<part name="parameters" element="tns:createDiarioResponse"/>
</message>
<message name="removeDiario">
<part name="parameters" element="tns:removeDiario"/>
</message>
<message name="removeDiarioResponse">
<part name="parameters" element="tns:removeDiarioResponse"/>
</message>
<message name="findDiario">
<part name="parameters" element="tns:findDiario"/>
</message>
<message name="findDiarioResponse">
<part name="parameters" element="tns:findDiarioResponse"/>
</message>
<message name="createIdDiario">
<part name="parameters" element="tns:createIdDiario"/>
</message>
<message name="createIdDiarioResponse">
<part name="parameters" element="tns:createIdDiarioResponse"/>
</message>
<message name="editDiario">
<part name="parameters" element="tns:editDiario"/>
</message>
<message name="editDiarioResponse">
<part name="parameters" element="tns:editDiarioResponse"/>
</message>
<message name="countDiario">
<part name="parameters" element="tns:countDiario"/>
</message>
<message name="countDiarioResponse">
<part name="parameters" element="tns:countDiarioResponse"/>
</message>
<portType name="DiarioWS">
<operation name="findDiarioByFecha">
<input wsam:Action="http://services.acuario/DiarioWS/findDiarioByFechaRequest" message="tns:findDiarioByFecha"/>
<output wsam:Action="http://services.acuario/DiarioWS/findDiarioByFechaResponse" message="tns:findDiarioByFechaResponse"/>
</operation>
<operation name="findAllDiario">
<input wsam:Action="http://services.acuario/DiarioWS/findAllDiarioRequest" message="tns:findAllDiario"/>
<output wsam:Action="http://services.acuario/DiarioWS/findAllDiarioResponse" message="tns:findAllDiarioResponse"/>
</operation>
<operation name="createDiario">
<input wsam:Action="http://services.acuario/DiarioWS/createDiarioRequest" message="tns:createDiario"/>
<output wsam:Action="http://services.acuario/DiarioWS/createDiarioResponse" message="tns:createDiarioResponse"/>
</operation>
<operation name="removeDiario">
<input wsam:Action="http://services.acuario/DiarioWS/removeDiarioRequest" message="tns:removeDiario"/>
<output wsam:Action="http://services.acuario/DiarioWS/removeDiarioResponse" message="tns:removeDiarioResponse"/>
</operation>
<operation name="findDiario">
<input wsam:Action="http://services.acuario/DiarioWS/findDiarioRequest" message="tns:findDiario"/>
<output wsam:Action="http://services.acuario/DiarioWS/findDiarioResponse" message="tns:findDiarioResponse"/>
</operation>
<operation name="createIdDiario">
<input wsam:Action="http://services.acuario/DiarioWS/createIdDiarioRequest" message="tns:createIdDiario"/>
<output wsam:Action="http://services.acuario/DiarioWS/createIdDiarioResponse" message="tns:createIdDiarioResponse"/>
</operation>
<operation name="editDiario">
<input wsam:Action="http://services.acuario/DiarioWS/editDiarioRequest" message="tns:editDiario"/>
<output wsam:Action="http://services.acuario/DiarioWS/editDiarioResponse" message="tns:editDiarioResponse"/>
</operation>
<operation name="countDiario">
<input wsam:Action="http://services.acuario/DiarioWS/countDiarioRequest" message="tns:countDiario"/>
<output wsam:Action="http://services.acuario/DiarioWS/countDiarioResponse" message="tns:countDiarioResponse"/>
</operation>
</portType>
<binding name="DiarioWSPortBinding" type="tns:DiarioWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findDiarioByFecha">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllDiario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createDiario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeDiario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findDiario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createIdDiario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editDiario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countDiario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="DiarioWS">
<port name="DiarioWSPort" binding="tns:DiarioWSPortBinding">
<soap:address location="http://localhost:8080/AcuarioWeb/DiarioWS"/>
</port>
</service>
</definitions>