src/META-INF/wsdl/localhost_8080/AcuarioWeb/FormapagoWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://services.acuario/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.acuario/">

<xs:element name="countFormapago" type="tns:countFormapago"/>

<xs:element name="countFormapagoResponse" type="tns:countFormapagoResponse"/>

<xs:element name="createFormapago" type="tns:createFormapago"/>

<xs:element name="createFormapagoResponse" type="tns:createFormapagoResponse"/>

<xs:element name="createIdFormapago" type="tns:createIdFormapago"/>

<xs:element name="createIdFormapagoResponse" type="tns:createIdFormapagoResponse"/>

<xs:element name="cuentacontable" type="tns:cuentacontable"/>

<xs:element name="editFormapago" type="tns:editFormapago"/>

<xs:element name="editFormapagoResponse" type="tns:editFormapagoResponse"/>

<xs:element name="empresa" type="tns:empresa"/>

<xs:element name="findAllFormapago" type="tns:findAllFormapago"/>

<xs:element name="findAllFormapagoResponse" type="tns:findAllFormapagoResponse"/>

<xs:element name="findFormapago" type="tns:findFormapago"/>

<xs:element name="findFormapagoById" type="tns:findFormapagoById"/>

<xs:element name="findFormapagoByIdResponse" type="tns:findFormapagoByIdResponse"/>

<xs:element name="findFormapagoByNombre" type="tns:findFormapagoByNombre"/>

<xs:element name="findFormapagoByNombreResponse" type="tns:findFormapagoByNombreResponse"/>

<xs:element name="findFormapagoResponse" type="tns:findFormapagoResponse"/>

<xs:element name="formapago" type="tns:formapago"/>

<xs:element name="persona" type="tns:persona"/>

<xs:element name="removeFormapago" type="tns:removeFormapago"/>

<xs:element name="removeFormapagoResponse" type="tns:removeFormapagoResponse"/>

<xs:complexType name="removeFormapago">
<xs:sequence>
<xs:element name="entity" type="tns:formapago" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="formapago">
<xs:sequence>
<xs:element name="formapagoconctacble" type="tns:cuentacontable" minOccurs="0"/>
<xs:element name="formapagoctacble" type="tns:cuentacontable" minOccurs="0"/>
<xs:element name="formapagodescripcion" type="xs:string" minOccurs="0"/>
<xs:element name="formapagoestado" type="xs:string" minOccurs="0"/>
<xs:element name="formapagoid" type="xs:int" minOccurs="0"/>
<xs:element name="formapagonombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cuentacontable">
<xs:sequence>
<xs:element name="cuentacontablecodigo" type="xs:string" minOccurs="0"/>
<xs:element name="cuentacontabledescripcion" type="xs:string" minOccurs="0"/>
<xs:element name="cuentacontableestado" type="xs:string" minOccurs="0"/>
<xs:element name="cuentacontableid" type="xs:int" minOccurs="0"/>
<xs:element name="cuentacontablemayor" type="xs:boolean" minOccurs="0"/>
<xs:element name="cuentacontablenombre" type="xs:string" minOccurs="0"/>
<xs:element name="cuentacontablepadre" type="xs:boolean" minOccurs="0"/>
<xs:element name="cuentacontablepadreid" type="xs:int" minOccurs="0"/>
<xs:element name="cuentacontablesigno" type="xs:string" minOccurs="0"/>
<xs:element name="empresaid" type="tns:empresa" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="empresa">
<xs:sequence>
<xs:element name="empresacoordlat" type="xs:decimal" minOccurs="0"/>
<xs:element name="empresacoordlon" type="xs:decimal" minOccurs="0"/>
<xs:element name="empresadescripcion" type="xs:string" minOccurs="0"/>
<xs:element name="empresadiario" type="xs:int" minOccurs="0"/>
<xs:element name="empresadireccion" type="xs:string" minOccurs="0"/>
<xs:element name="empresaempleado" type="xs:int" minOccurs="0"/>
<xs:element name="empresaestado" type="xs:string" minOccurs="0"/>
<xs:element name="empresaid" type="xs:int" minOccurs="0"/>
<xs:element name="empresanombre" type="xs:string" minOccurs="0"/>
<xs:element name="empresarut" type="xs:string" minOccurs="0"/>
<xs:element name="empresatelefono" type="xs:string" minOccurs="0"/>
<xs:element name="empresatransaccion" type="xs:int" minOccurs="0"/>
<xs:element name="personaid" type="tns:persona" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="persona">
<xs:sequence>
<xs:element name="personaapellidos" type="xs:string" minOccurs="0"/>
<xs:element name="personaciudad" type="xs:string" minOccurs="0"/>
<xs:element name="personacomuna" type="xs:string" minOccurs="0"/>
<xs:element name="personacoordlat" type="xs:decimal" minOccurs="0"/>
<xs:element name="personacoordlon" type="xs:decimal" minOccurs="0"/>
<xs:element name="personacorreo" type="xs:string" minOccurs="0"/>
<xs:element name="personadireccion" type="xs:string" minOccurs="0"/>
<xs:element name="personaestado" type="xs:string" minOccurs="0"/>
<xs:element name="personafoto" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="personaid" type="xs:int" minOccurs="0"/>
<xs:element name="personamovil" type="xs:string" minOccurs="0"/>
<xs:element name="personanombres" type="xs:string" minOccurs="0"/>
<xs:element name="personarut" type="xs:string" minOccurs="0"/>
<xs:element name="personatelefono" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeFormapagoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findFormapagoByNombre">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findFormapagoByNombreResponse">
<xs:sequence>
<xs:element name="return" type="tns:formapago" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findFormapagoById">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findFormapagoByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:formapago" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createFormapago">
<xs:sequence>
<xs:element name="entity" type="tns:formapago" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createFormapagoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findFormapago">
<xs:sequence>
<xs:element name="id" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findFormapagoResponse">
<xs:sequence>
<xs:element name="return" type="tns:formapago" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="countFormapago">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="countFormapagoResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllFormapago">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllFormapagoResponse">
<xs:sequence>
<xs:element name="return" type="tns:formapago" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editFormapago">
<xs:sequence>
<xs:element name="entity" type="tns:formapago" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editFormapagoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createIdFormapago">
<xs:sequence>
<xs:element name="entity" type="tns:formapago" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createIdFormapagoResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>