src/META-INF/wsdl/localhost_8080/AcuarioWeb/IngresoWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.acuario/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.acuario/" name="IngresoWS">
<types>
<xsd:schema>
<xsd:import namespace="http://services.acuario/" schemaLocation="http://localhost:8080/AcuarioWeb/IngresoWS?xsd=1"/>
</xsd:schema>
</types>
<message name="findIngresoByFecha">
<part name="parameters" element="tns:findIngresoByFecha"/>
</message>
<message name="findIngresoByFechaResponse">
<part name="parameters" element="tns:findIngresoByFechaResponse"/>
</message>
<message name="findIngresoByIdentidad">
<part name="parameters" element="tns:findIngresoByIdentidad"/>
</message>
<message name="findIngresoByIdentidadResponse">
<part name="parameters" element="tns:findIngresoByIdentidadResponse"/>
</message>
<message name="findIngresoByNombre">
<part name="parameters" element="tns:findIngresoByNombre"/>
</message>
<message name="findIngresoByNombreResponse">
<part name="parameters" element="tns:findIngresoByNombreResponse"/>
</message>
<message name="removeIngreso">
<part name="parameters" element="tns:removeIngreso"/>
</message>
<message name="removeIngresoResponse">
<part name="parameters" element="tns:removeIngresoResponse"/>
</message>
<message name="findAllIngreso">
<part name="parameters" element="tns:findAllIngreso"/>
</message>
<message name="findAllIngresoResponse">
<part name="parameters" element="tns:findAllIngresoResponse"/>
</message>
<message name="countIngreso">
<part name="parameters" element="tns:countIngreso"/>
</message>
<message name="countIngresoResponse">
<part name="parameters" element="tns:countIngresoResponse"/>
</message>
<message name="findIngreso">
<part name="parameters" element="tns:findIngreso"/>
</message>
<message name="findIngresoResponse">
<part name="parameters" element="tns:findIngresoResponse"/>
</message>
<message name="createIdIngreso">
<part name="parameters" element="tns:createIdIngreso"/>
</message>
<message name="createIdIngresoResponse">
<part name="parameters" element="tns:createIdIngresoResponse"/>
</message>
<message name="findByIngresoid">
<part name="parameters" element="tns:findByIngresoid"/>
</message>
<message name="findByIngresoidResponse">
<part name="parameters" element="tns:findByIngresoidResponse"/>
</message>
<message name="editIngreso">
<part name="parameters" element="tns:editIngreso"/>
</message>
<message name="editIngresoResponse">
<part name="parameters" element="tns:editIngresoResponse"/>
</message>
<message name="createIngreso">
<part name="parameters" element="tns:createIngreso"/>
</message>
<message name="createIngresoResponse">
<part name="parameters" element="tns:createIngresoResponse"/>
</message>
<portType name="IngresoWS">
<operation name="findIngresoByFecha">
<input wsam:Action="http://services.acuario/IngresoWS/findIngresoByFechaRequest" message="tns:findIngresoByFecha"/>
<output wsam:Action="http://services.acuario/IngresoWS/findIngresoByFechaResponse" message="tns:findIngresoByFechaResponse"/>
</operation>
<operation name="findIngresoByIdentidad">
<input wsam:Action="http://services.acuario/IngresoWS/findIngresoByIdentidadRequest" message="tns:findIngresoByIdentidad"/>
<output wsam:Action="http://services.acuario/IngresoWS/findIngresoByIdentidadResponse" message="tns:findIngresoByIdentidadResponse"/>
</operation>
<operation name="findIngresoByNombre">
<input wsam:Action="http://services.acuario/IngresoWS/findIngresoByNombreRequest" message="tns:findIngresoByNombre"/>
<output wsam:Action="http://services.acuario/IngresoWS/findIngresoByNombreResponse" message="tns:findIngresoByNombreResponse"/>
</operation>
<operation name="removeIngreso">
<input wsam:Action="http://services.acuario/IngresoWS/removeIngresoRequest" message="tns:removeIngreso"/>
<output wsam:Action="http://services.acuario/IngresoWS/removeIngresoResponse" message="tns:removeIngresoResponse"/>
</operation>
<operation name="findAllIngreso">
<input wsam:Action="http://services.acuario/IngresoWS/findAllIngresoRequest" message="tns:findAllIngreso"/>
<output wsam:Action="http://services.acuario/IngresoWS/findAllIngresoResponse" message="tns:findAllIngresoResponse"/>
</operation>
<operation name="countIngreso">
<input wsam:Action="http://services.acuario/IngresoWS/countIngresoRequest" message="tns:countIngreso"/>
<output wsam:Action="http://services.acuario/IngresoWS/countIngresoResponse" message="tns:countIngresoResponse"/>
</operation>
<operation name="findIngreso">
<input wsam:Action="http://services.acuario/IngresoWS/findIngresoRequest" message="tns:findIngreso"/>
<output wsam:Action="http://services.acuario/IngresoWS/findIngresoResponse" message="tns:findIngresoResponse"/>
</operation>
<operation name="createIdIngreso">
<input wsam:Action="http://services.acuario/IngresoWS/createIdIngresoRequest" message="tns:createIdIngreso"/>
<output wsam:Action="http://services.acuario/IngresoWS/createIdIngresoResponse" message="tns:createIdIngresoResponse"/>
</operation>
<operation name="findByIngresoid">
<input wsam:Action="http://services.acuario/IngresoWS/findByIngresoidRequest" message="tns:findByIngresoid"/>
<output wsam:Action="http://services.acuario/IngresoWS/findByIngresoidResponse" message="tns:findByIngresoidResponse"/>
</operation>
<operation name="editIngreso">
<input wsam:Action="http://services.acuario/IngresoWS/editIngresoRequest" message="tns:editIngreso"/>
<output wsam:Action="http://services.acuario/IngresoWS/editIngresoResponse" message="tns:editIngresoResponse"/>
</operation>
<operation name="createIngreso">
<input wsam:Action="http://services.acuario/IngresoWS/createIngresoRequest" message="tns:createIngreso"/>
<output wsam:Action="http://services.acuario/IngresoWS/createIngresoResponse" message="tns:createIngresoResponse"/>
</operation>
</portType>
<binding name="IngresoWSPortBinding" type="tns:IngresoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findIngresoByFecha">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findIngresoByIdentidad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findIngresoByNombre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeIngreso">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllIngreso">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countIngreso">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findIngreso">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createIdIngreso">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByIngresoid">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editIngreso">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createIngreso">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="IngresoWS">
<port name="IngresoWSPort" binding="tns:IngresoWSPortBinding">
<soap:address location="http://localhost:8080/AcuarioWeb/IngresoWS"/>
</port>
</service>
</definitions>