src/META-INF/wsdl/localhost_8080/AcuarioWeb/InsumoWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://services.acuario/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.acuario/">

<xs:element name="countInsumo" type="tns:countInsumo"/>

<xs:element name="countInsumoResponse" type="tns:countInsumoResponse"/>

<xs:element name="createIdInsumo" type="tns:createIdInsumo"/>

<xs:element name="createIdInsumoResponse" type="tns:createIdInsumoResponse"/>

<xs:element name="createInsumo" type="tns:createInsumo"/>

<xs:element name="createInsumoResponse" type="tns:createInsumoResponse"/>

<xs:element name="editInsumo" type="tns:editInsumo"/>

<xs:element name="editInsumoResponse" type="tns:editInsumoResponse"/>

<xs:element name="findAllInsumo" type="tns:findAllInsumo"/>

<xs:element name="findAllInsumoResponse" type="tns:findAllInsumoResponse"/>

<xs:element name="findByInsumocodigo" type="tns:findByInsumocodigo"/>

<xs:element name="findByInsumocodigoResponse" type="tns:findByInsumocodigoResponse"/>

<xs:element name="findByInsumoid" type="tns:findByInsumoid"/>

<xs:element name="findByInsumoidResponse" type="tns:findByInsumoidResponse"/>

<xs:element name="findInsumo" type="tns:findInsumo"/>

<xs:element name="findInsumoByCodigo" type="tns:findInsumoByCodigo"/>

<xs:element name="findInsumoByCodigoResponse" type="tns:findInsumoByCodigoResponse"/>

<xs:element name="findInsumoByNombre" type="tns:findInsumoByNombre"/>

<xs:element name="findInsumoByNombreResponse" type="tns:findInsumoByNombreResponse"/>

<xs:element name="findInsumoResponse" type="tns:findInsumoResponse"/>

<xs:element name="insumo" type="tns:insumo"/>

<xs:element name="removeInsumo" type="tns:removeInsumo"/>

<xs:element name="removeInsumoResponse" type="tns:removeInsumoResponse"/>

<xs:complexType name="findByInsumocodigo">
<xs:sequence>
<xs:element name="codigo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByInsumocodigoResponse">
<xs:sequence>
<xs:element name="return" type="tns:insumo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insumo">
<xs:sequence>
<xs:element name="insumocodigo" type="xs:string" minOccurs="0"/>
<xs:element name="insumodescripcion" type="xs:string" minOccurs="0"/>
<xs:element name="insumoestado" type="xs:string" minOccurs="0"/>
<xs:element name="insumofoto" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="insumoid" type="xs:int" minOccurs="0"/>
<xs:element name="insumonombre" type="xs:string" minOccurs="0"/>
<xs:element name="insumopresentacion" type="xs:string" minOccurs="0"/>
<xs:element name="insumotipo" type="xs:string" minOccurs="0"/>
<xs:element name="insumounmed" type="xs:string" minOccurs="0"/>
<xs:element name="insumovalor" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findInsumo">
<xs:sequence>
<xs:element name="id" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findInsumoResponse">
<xs:sequence>
<xs:element name="return" type="tns:insumo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editInsumo">
<xs:sequence>
<xs:element name="entity" type="tns:insumo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editInsumoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createIdInsumo">
<xs:sequence>
<xs:element name="entity" type="tns:insumo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createIdInsumoResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllInsumo">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllInsumoResponse">
<xs:sequence>
<xs:element name="return" type="tns:insumo" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findInsumoByCodigo">
<xs:sequence>
<xs:element name="codigo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findInsumoByCodigoResponse">
<xs:sequence>
<xs:element name="return" type="tns:insumo" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="countInsumo">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="countInsumoResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeInsumo">
<xs:sequence>
<xs:element name="entity" type="tns:insumo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeInsumoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createInsumo">
<xs:sequence>
<xs:element name="entity" type="tns:insumo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createInsumoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findInsumoByNombre">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findInsumoByNombreResponse">
<xs:sequence>
<xs:element name="return" type="tns:insumo" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByInsumoid">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByInsumoidResponse">
<xs:sequence>
<xs:element name="return" type="tns:insumo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>