src/META-INF/wsdl/localhost_8080/AcuarioWeb/InsumoempresaWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.acuario/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.acuario/" name="InsumoempresaWS">
<types>
<xsd:schema>
<xsd:import namespace="http://services.acuario/" schemaLocation="http://localhost:8080/AcuarioWeb/InsumoempresaWS?xsd=1"/>
</xsd:schema>
</types>
<message name="createIdInsumoempresa">
<part name="parameters" element="tns:createIdInsumoempresa"/>
</message>
<message name="createIdInsumoempresaResponse">
<part name="parameters" element="tns:createIdInsumoempresaResponse"/>
</message>
<message name="editInsumoempresa">
<part name="parameters" element="tns:editInsumoempresa"/>
</message>
<message name="editInsumoempresaResponse">
<part name="parameters" element="tns:editInsumoempresaResponse"/>
</message>
<message name="createInsumoempresa">
<part name="parameters" element="tns:createInsumoempresa"/>
</message>
<message name="createInsumoempresaResponse">
<part name="parameters" element="tns:createInsumoempresaResponse"/>
</message>
<message name="findInsumoempresa">
<part name="parameters" element="tns:findInsumoempresa"/>
</message>
<message name="findInsumoempresaResponse">
<part name="parameters" element="tns:findInsumoempresaResponse"/>
</message>
<message name="findByInsumoempresacodigo">
<part name="parameters" element="tns:findByInsumoempresacodigo"/>
</message>
<message name="findByInsumoempresacodigoResponse">
<part name="parameters" element="tns:findByInsumoempresacodigoResponse"/>
</message>
<message name="findInsumoempresaByNombre">
<part name="parameters" element="tns:findInsumoempresaByNombre"/>
</message>
<message name="findInsumoempresaByNombreResponse">
<part name="parameters" element="tns:findInsumoempresaByNombreResponse"/>
</message>
<message name="removeInsumoempresa">
<part name="parameters" element="tns:removeInsumoempresa"/>
</message>
<message name="removeInsumoempresaResponse">
<part name="parameters" element="tns:removeInsumoempresaResponse"/>
</message>
<message name="findInsumoempresaByCodigo">
<part name="parameters" element="tns:findInsumoempresaByCodigo"/>
</message>
<message name="findInsumoempresaByCodigoResponse">
<part name="parameters" element="tns:findInsumoempresaByCodigoResponse"/>
</message>
<message name="findAllInsumoempresa">
<part name="parameters" element="tns:findAllInsumoempresa"/>
</message>
<message name="findAllInsumoempresaResponse">
<part name="parameters" element="tns:findAllInsumoempresaResponse"/>
</message>
<message name="countInsumoempresa">
<part name="parameters" element="tns:countInsumoempresa"/>
</message>
<message name="countInsumoempresaResponse">
<part name="parameters" element="tns:countInsumoempresaResponse"/>
</message>
<portType name="InsumoempresaWS">
<operation name="createIdInsumoempresa">
<input wsam:Action="http://services.acuario/InsumoempresaWS/createIdInsumoempresaRequest" message="tns:createIdInsumoempresa"/>
<output wsam:Action="http://services.acuario/InsumoempresaWS/createIdInsumoempresaResponse" message="tns:createIdInsumoempresaResponse"/>
</operation>
<operation name="editInsumoempresa">
<input wsam:Action="http://services.acuario/InsumoempresaWS/editInsumoempresaRequest" message="tns:editInsumoempresa"/>
<output wsam:Action="http://services.acuario/InsumoempresaWS/editInsumoempresaResponse" message="tns:editInsumoempresaResponse"/>
</operation>
<operation name="createInsumoempresa">
<input wsam:Action="http://services.acuario/InsumoempresaWS/createInsumoempresaRequest" message="tns:createInsumoempresa"/>
<output wsam:Action="http://services.acuario/InsumoempresaWS/createInsumoempresaResponse" message="tns:createInsumoempresaResponse"/>
</operation>
<operation name="findInsumoempresa">
<input wsam:Action="http://services.acuario/InsumoempresaWS/findInsumoempresaRequest" message="tns:findInsumoempresa"/>
<output wsam:Action="http://services.acuario/InsumoempresaWS/findInsumoempresaResponse" message="tns:findInsumoempresaResponse"/>
</operation>
<operation name="findByInsumoempresacodigo">
<input wsam:Action="http://services.acuario/InsumoempresaWS/findByInsumoempresacodigoRequest" message="tns:findByInsumoempresacodigo"/>
<output wsam:Action="http://services.acuario/InsumoempresaWS/findByInsumoempresacodigoResponse" message="tns:findByInsumoempresacodigoResponse"/>
</operation>
<operation name="findInsumoempresaByNombre">
<input wsam:Action="http://services.acuario/InsumoempresaWS/findInsumoempresaByNombreRequest" message="tns:findInsumoempresaByNombre"/>
<output wsam:Action="http://services.acuario/InsumoempresaWS/findInsumoempresaByNombreResponse" message="tns:findInsumoempresaByNombreResponse"/>
</operation>
<operation name="removeInsumoempresa">
<input wsam:Action="http://services.acuario/InsumoempresaWS/removeInsumoempresaRequest" message="tns:removeInsumoempresa"/>
<output wsam:Action="http://services.acuario/InsumoempresaWS/removeInsumoempresaResponse" message="tns:removeInsumoempresaResponse"/>
</operation>
<operation name="findInsumoempresaByCodigo">
<input wsam:Action="http://services.acuario/InsumoempresaWS/findInsumoempresaByCodigoRequest" message="tns:findInsumoempresaByCodigo"/>
<output wsam:Action="http://services.acuario/InsumoempresaWS/findInsumoempresaByCodigoResponse" message="tns:findInsumoempresaByCodigoResponse"/>
</operation>
<operation name="findAllInsumoempresa">
<input wsam:Action="http://services.acuario/InsumoempresaWS/findAllInsumoempresaRequest" message="tns:findAllInsumoempresa"/>
<output wsam:Action="http://services.acuario/InsumoempresaWS/findAllInsumoempresaResponse" message="tns:findAllInsumoempresaResponse"/>
</operation>
<operation name="countInsumoempresa">
<input wsam:Action="http://services.acuario/InsumoempresaWS/countInsumoempresaRequest" message="tns:countInsumoempresa"/>
<output wsam:Action="http://services.acuario/InsumoempresaWS/countInsumoempresaResponse" message="tns:countInsumoempresaResponse"/>
</operation>
</portType>
<binding name="InsumoempresaWSPortBinding" type="tns:InsumoempresaWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createIdInsumoempresa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editInsumoempresa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createInsumoempresa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findInsumoempresa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByInsumoempresacodigo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findInsumoempresaByNombre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeInsumoempresa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findInsumoempresaByCodigo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllInsumoempresa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countInsumoempresa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="InsumoempresaWS">
<port name="InsumoempresaWSPort" binding="tns:InsumoempresaWSPortBinding">
<soap:address location="http://localhost:8080/AcuarioWeb/InsumoempresaWS"/>
</port>
</service>
</definitions>