src/META-INF/wsdl/localhost_8080/AcuarioWeb/PerfilWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.acuario/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.acuario/" name="PerfilWS">
<types>
<xsd:schema>
<xsd:import namespace="http://services.acuario/" schemaLocation="http://localhost:8080/AcuarioWeb/PerfilWS?xsd=1"/>
</xsd:schema>
</types>
<message name="findPerfilByNombre">
<part name="parameters" element="tns:findPerfilByNombre"/>
</message>
<message name="findPerfilByNombreResponse">
<part name="parameters" element="tns:findPerfilByNombreResponse"/>
</message>
<message name="removePerfil">
<part name="parameters" element="tns:removePerfil"/>
</message>
<message name="removePerfilResponse">
<part name="parameters" element="tns:removePerfilResponse"/>
</message>
<message name="findPerfilById">
<part name="parameters" element="tns:findPerfilById"/>
</message>
<message name="findPerfilByIdResponse">
<part name="parameters" element="tns:findPerfilByIdResponse"/>
</message>
<message name="findAllPerfil">
<part name="parameters" element="tns:findAllPerfil"/>
</message>
<message name="findAllPerfilResponse">
<part name="parameters" element="tns:findAllPerfilResponse"/>
</message>
<message name="createPerfil">
<part name="parameters" element="tns:createPerfil"/>
</message>
<message name="createPerfilResponse">
<part name="parameters" element="tns:createPerfilResponse"/>
</message>
<message name="countPerfil">
<part name="parameters" element="tns:countPerfil"/>
</message>
<message name="countPerfilResponse">
<part name="parameters" element="tns:countPerfilResponse"/>
</message>
<message name="createIdPerfil">
<part name="parameters" element="tns:createIdPerfil"/>
</message>
<message name="createIdPerfilResponse">
<part name="parameters" element="tns:createIdPerfilResponse"/>
</message>
<message name="editPerfil">
<part name="parameters" element="tns:editPerfil"/>
</message>
<message name="editPerfilResponse">
<part name="parameters" element="tns:editPerfilResponse"/>
</message>
<message name="findPerfil">
<part name="parameters" element="tns:findPerfil"/>
</message>
<message name="findPerfilResponse">
<part name="parameters" element="tns:findPerfilResponse"/>
</message>
<portType name="PerfilWS">
<operation name="findPerfilByNombre">
<input wsam:Action="http://services.acuario/PerfilWS/findPerfilByNombreRequest" message="tns:findPerfilByNombre"/>
<output wsam:Action="http://services.acuario/PerfilWS/findPerfilByNombreResponse" message="tns:findPerfilByNombreResponse"/>
</operation>
<operation name="removePerfil">
<input wsam:Action="http://services.acuario/PerfilWS/removePerfilRequest" message="tns:removePerfil"/>
<output wsam:Action="http://services.acuario/PerfilWS/removePerfilResponse" message="tns:removePerfilResponse"/>
</operation>
<operation name="findPerfilById">
<input wsam:Action="http://services.acuario/PerfilWS/findPerfilByIdRequest" message="tns:findPerfilById"/>
<output wsam:Action="http://services.acuario/PerfilWS/findPerfilByIdResponse" message="tns:findPerfilByIdResponse"/>
</operation>
<operation name="findAllPerfil">
<input wsam:Action="http://services.acuario/PerfilWS/findAllPerfilRequest" message="tns:findAllPerfil"/>
<output wsam:Action="http://services.acuario/PerfilWS/findAllPerfilResponse" message="tns:findAllPerfilResponse"/>
</operation>
<operation name="createPerfil">
<input wsam:Action="http://services.acuario/PerfilWS/createPerfilRequest" message="tns:createPerfil"/>
<output wsam:Action="http://services.acuario/PerfilWS/createPerfilResponse" message="tns:createPerfilResponse"/>
</operation>
<operation name="countPerfil">
<input wsam:Action="http://services.acuario/PerfilWS/countPerfilRequest" message="tns:countPerfil"/>
<output wsam:Action="http://services.acuario/PerfilWS/countPerfilResponse" message="tns:countPerfilResponse"/>
</operation>
<operation name="createIdPerfil">
<input wsam:Action="http://services.acuario/PerfilWS/createIdPerfilRequest" message="tns:createIdPerfil"/>
<output wsam:Action="http://services.acuario/PerfilWS/createIdPerfilResponse" message="tns:createIdPerfilResponse"/>
</operation>
<operation name="editPerfil">
<input wsam:Action="http://services.acuario/PerfilWS/editPerfilRequest" message="tns:editPerfil"/>
<output wsam:Action="http://services.acuario/PerfilWS/editPerfilResponse" message="tns:editPerfilResponse"/>
</operation>
<operation name="findPerfil">
<input wsam:Action="http://services.acuario/PerfilWS/findPerfilRequest" message="tns:findPerfil"/>
<output wsam:Action="http://services.acuario/PerfilWS/findPerfilResponse" message="tns:findPerfilResponse"/>
</operation>
</portType>
<binding name="PerfilWSPortBinding" type="tns:PerfilWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findPerfilByNombre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removePerfil">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findPerfilById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllPerfil">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createPerfil">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countPerfil">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createIdPerfil">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editPerfil">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findPerfil">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PerfilWS">
<port name="PerfilWSPort" binding="tns:PerfilWSPortBinding">
<soap:address location="http://localhost:8080/AcuarioWeb/PerfilWS"/>
</port>
</service>
</definitions>