src/META-INF/wsdl/localhost_8080/AcuarioWeb/UsuarioWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://services.acuario/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.acuario/">

<xs:element name="countUsuario" type="tns:countUsuario"/>

<xs:element name="countUsuarioResponse" type="tns:countUsuarioResponse"/>

<xs:element name="createIdUsuario" type="tns:createIdUsuario"/>

<xs:element name="createIdUsuarioResponse" type="tns:createIdUsuarioResponse"/>

<xs:element name="createUsuario" type="tns:createUsuario"/>

<xs:element name="createUsuarioResponse" type="tns:createUsuarioResponse"/>

<xs:element name="editUsuario" type="tns:editUsuario"/>

<xs:element name="editUsuarioResponse" type="tns:editUsuarioResponse"/>

<xs:element name="empresa" type="tns:empresa"/>

<xs:element name="findAllUsuario" type="tns:findAllUsuario"/>

<xs:element name="findAllUsuarioResponse" type="tns:findAllUsuarioResponse"/>

<xs:element name="findUsuario" type="tns:findUsuario"/>

<xs:element name="findUsuarioByIdentidad" type="tns:findUsuarioByIdentidad"/>

<xs:element name="findUsuarioByIdentidadResponse" type="tns:findUsuarioByIdentidadResponse"/>

<xs:element name="findUsuarioByNombre" type="tns:findUsuarioByNombre"/>

<xs:element name="findUsuarioByNombreResponse" type="tns:findUsuarioByNombreResponse"/>

<xs:element name="findUsuarioResponse" type="tns:findUsuarioResponse"/>

<xs:element name="perfil" type="tns:perfil"/>

<xs:element name="persona" type="tns:persona"/>

<xs:element name="removeUsuario" type="tns:removeUsuario"/>

<xs:element name="removeUsuarioResponse" type="tns:removeUsuarioResponse"/>

<xs:element name="usuario" type="tns:usuario"/>

<xs:element name="validarUsuario" type="tns:validarUsuario"/>

<xs:element name="validarUsuarioResponse" type="tns:validarUsuarioResponse"/>

<xs:complexType name="findAllUsuario">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="usuario">
<xs:sequence>
<xs:element name="empresaid" type="tns:empresa" minOccurs="0"/>
<xs:element name="perfilid" type="tns:perfil" minOccurs="0"/>
<xs:element name="personaid" type="tns:persona" minOccurs="0"/>
<xs:element name="usuarioclave" type="xs:string" minOccurs="0"/>
<xs:element name="usuarioestado" type="xs:string" minOccurs="0"/>
<xs:element name="usuarioid" type="xs:int" minOccurs="0"/>
<xs:element name="usuarioidentidad" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="empresa">
<xs:sequence>
<xs:element name="empresacoordlat" type="xs:decimal" minOccurs="0"/>
<xs:element name="empresacoordlon" type="xs:decimal" minOccurs="0"/>
<xs:element name="empresadescripcion" type="xs:string" minOccurs="0"/>
<xs:element name="empresadiario" type="xs:int" minOccurs="0"/>
<xs:element name="empresadireccion" type="xs:string" minOccurs="0"/>
<xs:element name="empresaempleado" type="xs:int" minOccurs="0"/>
<xs:element name="empresaestado" type="xs:string" minOccurs="0"/>
<xs:element name="empresaid" type="xs:int" minOccurs="0"/>
<xs:element name="empresanombre" type="xs:string" minOccurs="0"/>
<xs:element name="empresarut" type="xs:string" minOccurs="0"/>
<xs:element name="empresatelefono" type="xs:string" minOccurs="0"/>
<xs:element name="empresatransaccion" type="xs:int" minOccurs="0"/>
<xs:element name="personaid" type="tns:persona" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="persona">
<xs:sequence>
<xs:element name="personaapellidos" type="xs:string" minOccurs="0"/>
<xs:element name="personaciudad" type="xs:string" minOccurs="0"/>
<xs:element name="personacomuna" type="xs:string" minOccurs="0"/>
<xs:element name="personacoordlat" type="xs:decimal" minOccurs="0"/>
<xs:element name="personacoordlon" type="xs:decimal" minOccurs="0"/>
<xs:element name="personacorreo" type="xs:string" minOccurs="0"/>
<xs:element name="personadireccion" type="xs:string" minOccurs="0"/>
<xs:element name="personaestado" type="xs:string" minOccurs="0"/>
<xs:element name="personafoto" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="personaid" type="xs:int" minOccurs="0"/>
<xs:element name="personamovil" type="xs:string" minOccurs="0"/>
<xs:element name="personanombres" type="xs:string" minOccurs="0"/>
<xs:element name="personarut" type="xs:string" minOccurs="0"/>
<xs:element name="personatelefono" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="perfil">
<xs:sequence>
<xs:element name="perfildescripcion" type="xs:string" minOccurs="0"/>
<xs:element name="perfilestado" type="xs:string" minOccurs="0"/>
<xs:element name="perfilid" type="xs:int" minOccurs="0"/>
<xs:element name="perfilnombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validarUsuario">
<xs:sequence>
<xs:element name="identidad" type="xs:string" minOccurs="0"/>
<xs:element name="clave" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validarUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="countUsuario">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="countUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findUsuarioByIdentidad">
<xs:sequence>
<xs:element name="rut" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findUsuarioByIdentidadResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createIdUsuario">
<xs:sequence>
<xs:element name="entity" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createIdUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editUsuario">
<xs:sequence>
<xs:element name="entity" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findUsuario">
<xs:sequence>
<xs:element name="id" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeUsuario">
<xs:sequence>
<xs:element name="entity" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findUsuarioByNombre">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findUsuarioByNombreResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createUsuario">
<xs:sequence>
<xs:element name="entity" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>