src/META-INF/wsdl/localhost_8080/SolicitudinsumoWS/SolicitudinsumoWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.acuario/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.acuario/" name="SolicitudinsumoWS">
<types>
<xsd:schema>
<xsd:import namespace="http://services.acuario/" schemaLocation="http://localhost:8080/SolicitudinsumoWS/SolicitudinsumoWS?xsd=1"/>
</xsd:schema>
</types>
<message name="findBySolicitudinsumoid">
<part name="parameters" element="tns:findBySolicitudinsumoid"/>
</message>
<message name="findBySolicitudinsumoidResponse">
<part name="parameters" element="tns:findBySolicitudinsumoidResponse"/>
</message>
<message name="createSolicitudinsumo">
<part name="parameters" element="tns:createSolicitudinsumo"/>
</message>
<message name="createSolicitudinsumoResponse">
<part name="parameters" element="tns:createSolicitudinsumoResponse"/>
</message>
<message name="createIdSolicitudinsumo">
<part name="parameters" element="tns:createIdSolicitudinsumo"/>
</message>
<message name="createIdSolicitudinsumoResponse">
<part name="parameters" element="tns:createIdSolicitudinsumoResponse"/>
</message>
<message name="findAllSolicitudinsumo">
<part name="parameters" element="tns:findAllSolicitudinsumo"/>
</message>
<message name="findAllSolicitudinsumoResponse">
<part name="parameters" element="tns:findAllSolicitudinsumoResponse"/>
</message>
<message name="countSolicitudinsumo">
<part name="parameters" element="tns:countSolicitudinsumo"/>
</message>
<message name="countSolicitudinsumoResponse">
<part name="parameters" element="tns:countSolicitudinsumoResponse"/>
</message>
<message name="findSolicitudinsumo">
<part name="parameters" element="tns:findSolicitudinsumo"/>
</message>
<message name="findSolicitudinsumoResponse">
<part name="parameters" element="tns:findSolicitudinsumoResponse"/>
</message>
<message name="removeSolicitudinsumo">
<part name="parameters" element="tns:removeSolicitudinsumo"/>
</message>
<message name="removeSolicitudinsumoResponse">
<part name="parameters" element="tns:removeSolicitudinsumoResponse"/>
</message>
<message name="findSolicitudinsumoByFecha">
<part name="parameters" element="tns:findSolicitudinsumoByFecha"/>
</message>
<message name="findSolicitudinsumoByFechaResponse">
<part name="parameters" element="tns:findSolicitudinsumoByFechaResponse"/>
</message>
<message name="editSolicitudinsumo">
<part name="parameters" element="tns:editSolicitudinsumo"/>
</message>
<message name="editSolicitudinsumoResponse">
<part name="parameters" element="tns:editSolicitudinsumoResponse"/>
</message>
<portType name="SolicitudinsumoWS">
<operation name="findBySolicitudinsumoid">
<input wsam:Action="http://services.acuario/SolicitudinsumoWS/findBySolicitudinsumoidRequest" message="tns:findBySolicitudinsumoid"/>
<output wsam:Action="http://services.acuario/SolicitudinsumoWS/findBySolicitudinsumoidResponse" message="tns:findBySolicitudinsumoidResponse"/>
</operation>
<operation name="createSolicitudinsumo">
<input wsam:Action="http://services.acuario/SolicitudinsumoWS/createSolicitudinsumoRequest" message="tns:createSolicitudinsumo"/>
<output wsam:Action="http://services.acuario/SolicitudinsumoWS/createSolicitudinsumoResponse" message="tns:createSolicitudinsumoResponse"/>
</operation>
<operation name="createIdSolicitudinsumo">
<input wsam:Action="http://services.acuario/SolicitudinsumoWS/createIdSolicitudinsumoRequest" message="tns:createIdSolicitudinsumo"/>
<output wsam:Action="http://services.acuario/SolicitudinsumoWS/createIdSolicitudinsumoResponse" message="tns:createIdSolicitudinsumoResponse"/>
</operation>
<operation name="findAllSolicitudinsumo">
<input wsam:Action="http://services.acuario/SolicitudinsumoWS/findAllSolicitudinsumoRequest" message="tns:findAllSolicitudinsumo"/>
<output wsam:Action="http://services.acuario/SolicitudinsumoWS/findAllSolicitudinsumoResponse" message="tns:findAllSolicitudinsumoResponse"/>
</operation>
<operation name="countSolicitudinsumo">
<input wsam:Action="http://services.acuario/SolicitudinsumoWS/countSolicitudinsumoRequest" message="tns:countSolicitudinsumo"/>
<output wsam:Action="http://services.acuario/SolicitudinsumoWS/countSolicitudinsumoResponse" message="tns:countSolicitudinsumoResponse"/>
</operation>
<operation name="findSolicitudinsumo">
<input wsam:Action="http://services.acuario/SolicitudinsumoWS/findSolicitudinsumoRequest" message="tns:findSolicitudinsumo"/>
<output wsam:Action="http://services.acuario/SolicitudinsumoWS/findSolicitudinsumoResponse" message="tns:findSolicitudinsumoResponse"/>
</operation>
<operation name="removeSolicitudinsumo">
<input wsam:Action="http://services.acuario/SolicitudinsumoWS/removeSolicitudinsumoRequest" message="tns:removeSolicitudinsumo"/>
<output wsam:Action="http://services.acuario/SolicitudinsumoWS/removeSolicitudinsumoResponse" message="tns:removeSolicitudinsumoResponse"/>
</operation>
<operation name="findSolicitudinsumoByFecha">
<input wsam:Action="http://services.acuario/SolicitudinsumoWS/findSolicitudinsumoByFechaRequest" message="tns:findSolicitudinsumoByFecha"/>
<output wsam:Action="http://services.acuario/SolicitudinsumoWS/findSolicitudinsumoByFechaResponse" message="tns:findSolicitudinsumoByFechaResponse"/>
</operation>
<operation name="editSolicitudinsumo">
<input wsam:Action="http://services.acuario/SolicitudinsumoWS/editSolicitudinsumoRequest" message="tns:editSolicitudinsumo"/>
<output wsam:Action="http://services.acuario/SolicitudinsumoWS/editSolicitudinsumoResponse" message="tns:editSolicitudinsumoResponse"/>
</operation>
</portType>
<binding name="SolicitudinsumoWSPortBinding" type="tns:SolicitudinsumoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findBySolicitudinsumoid">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createSolicitudinsumo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createIdSolicitudinsumo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllSolicitudinsumo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countSolicitudinsumo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findSolicitudinsumo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeSolicitudinsumo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findSolicitudinsumoByFecha">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editSolicitudinsumo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SolicitudinsumoWS">
<port name="SolicitudinsumoWSPort" binding="tns:SolicitudinsumoWSPortBinding">
<soap:address location="http://localhost:8080/SolicitudinsumoWS/SolicitudinsumoWS"/>
</port>
</service>
</definitions>