xml-resources/web-service-references/KardexWS/wsdl/localhost_8080/AcuarioWeb/KardexWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.acuario/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.acuario/" name="KardexWS">
<types>
<xsd:schema>
<xsd:import namespace="http://services.acuario/" schemaLocation="http://localhost:8080/AcuarioWeb/KardexWS?xsd=1"/>
</xsd:schema>
</types>
<message name="findByInsumoidPeriodo">
<part name="parameters" element="tns:findByInsumoidPeriodo"/>
</message>
<message name="findByInsumoidPeriodoResponse">
<part name="parameters" element="tns:findByInsumoidPeriodoResponse"/>
</message>
<message name="findBySolicitudinsumoid">
<part name="parameters" element="tns:findBySolicitudinsumoid"/>
</message>
<message name="findBySolicitudinsumoidResponse">
<part name="parameters" element="tns:findBySolicitudinsumoidResponse"/>
</message>
<message name="findKardex">
<part name="parameters" element="tns:findKardex"/>
</message>
<message name="findKardexResponse">
<part name="parameters" element="tns:findKardexResponse"/>
</message>
<message name="removeKardex">
<part name="parameters" element="tns:removeKardex"/>
</message>
<message name="removeKardexResponse">
<part name="parameters" element="tns:removeKardexResponse"/>
</message>
<message name="findAllKardex">
<part name="parameters" element="tns:findAllKardex"/>
</message>
<message name="findAllKardexResponse">
<part name="parameters" element="tns:findAllKardexResponse"/>
</message>
<message name="countKardex">
<part name="parameters" element="tns:countKardex"/>
</message>
<message name="countKardexResponse">
<part name="parameters" element="tns:countKardexResponse"/>
</message>
<message name="createKardex">
<part name="parameters" element="tns:createKardex"/>
</message>
<message name="createKardexResponse">
<part name="parameters" element="tns:createKardexResponse"/>
</message>
<message name="createIdKardex">
<part name="parameters" element="tns:createIdKardex"/>
</message>
<message name="createIdKardexResponse">
<part name="parameters" element="tns:createIdKardexResponse"/>
</message>
<message name="editKardex">
<part name="parameters" element="tns:editKardex"/>
</message>
<message name="editKardexResponse">
<part name="parameters" element="tns:editKardexResponse"/>
</message>
<portType name="KardexWS">
<operation name="findByInsumoidPeriodo">
<input wsam:Action="http://services.acuario/KardexWS/findByInsumoidPeriodoRequest" message="tns:findByInsumoidPeriodo"/>
<output wsam:Action="http://services.acuario/KardexWS/findByInsumoidPeriodoResponse" message="tns:findByInsumoidPeriodoResponse"/>
</operation>
<operation name="findBySolicitudinsumoid">
<input wsam:Action="http://services.acuario/KardexWS/findBySolicitudinsumoidRequest" message="tns:findBySolicitudinsumoid"/>
<output wsam:Action="http://services.acuario/KardexWS/findBySolicitudinsumoidResponse" message="tns:findBySolicitudinsumoidResponse"/>
</operation>
<operation name="findKardex">
<input wsam:Action="http://services.acuario/KardexWS/findKardexRequest" message="tns:findKardex"/>
<output wsam:Action="http://services.acuario/KardexWS/findKardexResponse" message="tns:findKardexResponse"/>
</operation>
<operation name="removeKardex">
<input wsam:Action="http://services.acuario/KardexWS/removeKardexRequest" message="tns:removeKardex"/>
<output wsam:Action="http://services.acuario/KardexWS/removeKardexResponse" message="tns:removeKardexResponse"/>
</operation>
<operation name="findAllKardex">
<input wsam:Action="http://services.acuario/KardexWS/findAllKardexRequest" message="tns:findAllKardex"/>
<output wsam:Action="http://services.acuario/KardexWS/findAllKardexResponse" message="tns:findAllKardexResponse"/>
</operation>
<operation name="countKardex">
<input wsam:Action="http://services.acuario/KardexWS/countKardexRequest" message="tns:countKardex"/>
<output wsam:Action="http://services.acuario/KardexWS/countKardexResponse" message="tns:countKardexResponse"/>
</operation>
<operation name="createKardex">
<input wsam:Action="http://services.acuario/KardexWS/createKardexRequest" message="tns:createKardex"/>
<output wsam:Action="http://services.acuario/KardexWS/createKardexResponse" message="tns:createKardexResponse"/>
</operation>
<operation name="createIdKardex">
<input wsam:Action="http://services.acuario/KardexWS/createIdKardexRequest" message="tns:createIdKardex"/>
<output wsam:Action="http://services.acuario/KardexWS/createIdKardexResponse" message="tns:createIdKardexResponse"/>
</operation>
<operation name="editKardex">
<input wsam:Action="http://services.acuario/KardexWS/editKardexRequest" message="tns:editKardex"/>
<output wsam:Action="http://services.acuario/KardexWS/editKardexResponse" message="tns:editKardexResponse"/>
</operation>
</portType>
<binding name="KardexWSPortBinding" type="tns:KardexWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findByInsumoidPeriodo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findBySolicitudinsumoid">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findKardex">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeKardex">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllKardex">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countKardex">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createKardex">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createIdKardex">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editKardex">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="KardexWS">
<port name="KardexWSPort" binding="tns:KardexWSPortBinding">
<soap:address location="http://localhost:8080/AcuarioWeb/KardexWS"/>
</port>
</service>
</definitions>