xml-resources/web-service-references/AuditoriaWS/wsdl/localhost_8080/AcuarioWeb/AuditoriaWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.acuario/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.acuario/" name="AuditoriaWS">
<types>
<xsd:schema>
<xsd:import namespace="http://services.acuario/" schemaLocation="http://localhost:8080/AcuarioWeb/AuditoriaWS?xsd=1"/>
</xsd:schema>
</types>
<message name="createAuditoria">
<part name="parameters" element="tns:createAuditoria"/>
</message>
<message name="createAuditoriaResponse">
<part name="parameters" element="tns:createAuditoriaResponse"/>
</message>
<message name="editAuditoria">
<part name="parameters" element="tns:editAuditoria"/>
</message>
<message name="editAuditoriaResponse">
<part name="parameters" element="tns:editAuditoriaResponse"/>
</message>
<message name="removeAuditoria">
<part name="parameters" element="tns:removeAuditoria"/>
</message>
<message name="removeAuditoriaResponse">
<part name="parameters" element="tns:removeAuditoriaResponse"/>
</message>
<message name="findAuditoria">
<part name="parameters" element="tns:findAuditoria"/>
</message>
<message name="findAuditoriaResponse">
<part name="parameters" element="tns:findAuditoriaResponse"/>
</message>
<message name="countAuditoria">
<part name="parameters" element="tns:countAuditoria"/>
</message>
<message name="countAuditoriaResponse">
<part name="parameters" element="tns:countAuditoriaResponse"/>
</message>
<message name="findAllAuditoria">
<part name="parameters" element="tns:findAllAuditoria"/>
</message>
<message name="findAllAuditoriaResponse">
<part name="parameters" element="tns:findAllAuditoriaResponse"/>
</message>
<message name="createIdAuditoria">
<part name="parameters" element="tns:createIdAuditoria"/>
</message>
<message name="createIdAuditoriaResponse">
<part name="parameters" element="tns:createIdAuditoriaResponse"/>
</message>
<portType name="AuditoriaWS">
<operation name="createAuditoria">
<input wsam:Action="http://services.acuario/AuditoriaWS/createAuditoriaRequest" message="tns:createAuditoria"/>
<output wsam:Action="http://services.acuario/AuditoriaWS/createAuditoriaResponse" message="tns:createAuditoriaResponse"/>
</operation>
<operation name="editAuditoria">
<input wsam:Action="http://services.acuario/AuditoriaWS/editAuditoriaRequest" message="tns:editAuditoria"/>
<output wsam:Action="http://services.acuario/AuditoriaWS/editAuditoriaResponse" message="tns:editAuditoriaResponse"/>
</operation>
<operation name="removeAuditoria">
<input wsam:Action="http://services.acuario/AuditoriaWS/removeAuditoriaRequest" message="tns:removeAuditoria"/>
<output wsam:Action="http://services.acuario/AuditoriaWS/removeAuditoriaResponse" message="tns:removeAuditoriaResponse"/>
</operation>
<operation name="findAuditoria">
<input wsam:Action="http://services.acuario/AuditoriaWS/findAuditoriaRequest" message="tns:findAuditoria"/>
<output wsam:Action="http://services.acuario/AuditoriaWS/findAuditoriaResponse" message="tns:findAuditoriaResponse"/>
</operation>
<operation name="countAuditoria">
<input wsam:Action="http://services.acuario/AuditoriaWS/countAuditoriaRequest" message="tns:countAuditoria"/>
<output wsam:Action="http://services.acuario/AuditoriaWS/countAuditoriaResponse" message="tns:countAuditoriaResponse"/>
</operation>
<operation name="findAllAuditoria">
<input wsam:Action="http://services.acuario/AuditoriaWS/findAllAuditoriaRequest" message="tns:findAllAuditoria"/>
<output wsam:Action="http://services.acuario/AuditoriaWS/findAllAuditoriaResponse" message="tns:findAllAuditoriaResponse"/>
</operation>
<operation name="createIdAuditoria">
<input wsam:Action="http://services.acuario/AuditoriaWS/createIdAuditoriaRequest" message="tns:createIdAuditoria"/>
<output wsam:Action="http://services.acuario/AuditoriaWS/createIdAuditoriaResponse" message="tns:createIdAuditoriaResponse"/>
</operation>
</portType>
<binding name="AuditoriaWSPortBinding" type="tns:AuditoriaWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createAuditoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editAuditoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeAuditoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAuditoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countAuditoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllAuditoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createIdAuditoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AuditoriaWS">
<port name="AuditoriaWSPort" binding="tns:AuditoriaWSPortBinding">
<soap:address location="http://localhost:8080/AcuarioWeb/AuditoriaWS"/>
</port>
</service>
</definitions>