xml-resources/web-service-references/ProgramaWS/wsdl/localhost_8080/AcuarioWeb/ProgramaWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.acuario/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.acuario/" name="ProgramaWS">
<types>
<xsd:schema>
<xsd:import namespace="http://services.acuario/" schemaLocation="http://localhost:8080/AcuarioWeb/ProgramaWS?xsd=1"/>
</xsd:schema>
</types>
<message name="ProgramaPorPadreid">
<part name="parameters" element="tns:ProgramaPorPadreid"/>
</message>
<message name="ProgramaPorPadreidResponse">
<part name="parameters" element="tns:ProgramaPorPadreidResponse"/>
</message>
<message name="findProgramaByTipo">
<part name="parameters" element="tns:findProgramaByTipo"/>
</message>
<message name="findProgramaByTipoResponse">
<part name="parameters" element="tns:findProgramaByTipoResponse"/>
</message>
<message name="findProgramaByNombre">
<part name="parameters" element="tns:findProgramaByNombre"/>
</message>
<message name="findProgramaByNombreResponse">
<part name="parameters" element="tns:findProgramaByNombreResponse"/>
</message>
<message name="listaProgramasTipo">
<part name="parameters" element="tns:listaProgramasTipo"/>
</message>
<message name="listaProgramasTipoResponse">
<part name="parameters" element="tns:listaProgramasTipoResponse"/>
</message>
<message name="editPrograma">
<part name="parameters" element="tns:editPrograma"/>
</message>
<message name="editProgramaResponse">
<part name="parameters" element="tns:editProgramaResponse"/>
</message>
<message name="createPrograma">
<part name="parameters" element="tns:createPrograma"/>
</message>
<message name="createProgramaResponse">
<part name="parameters" element="tns:createProgramaResponse"/>
</message>
<message name="createIdPrograma">
<part name="parameters" element="tns:createIdPrograma"/>
</message>
<message name="createIdProgramaResponse">
<part name="parameters" element="tns:createIdProgramaResponse"/>
</message>
<message name="findAllPrograma">
<part name="parameters" element="tns:findAllPrograma"/>
</message>
<message name="findAllProgramaResponse">
<part name="parameters" element="tns:findAllProgramaResponse"/>
</message>
<message name="ProgramaPorTipo">
<part name="parameters" element="tns:ProgramaPorTipo"/>
</message>
<message name="ProgramaPorTipoResponse">
<part name="parameters" element="tns:ProgramaPorTipoResponse"/>
</message>
<message name="findProgramaById">
<part name="parameters" element="tns:findProgramaById"/>
</message>
<message name="findProgramaByIdResponse">
<part name="parameters" element="tns:findProgramaByIdResponse"/>
</message>
<message name="removePrograma">
<part name="parameters" element="tns:removePrograma"/>
</message>
<message name="removeProgramaResponse">
<part name="parameters" element="tns:removeProgramaResponse"/>
</message>
<message name="findPrograma">
<part name="parameters" element="tns:findPrograma"/>
</message>
<message name="findProgramaResponse">
<part name="parameters" element="tns:findProgramaResponse"/>
</message>
<message name="countPrograma">
<part name="parameters" element="tns:countPrograma"/>
</message>
<message name="countProgramaResponse">
<part name="parameters" element="tns:countProgramaResponse"/>
</message>
<portType name="ProgramaWS">
<operation name="ProgramaPorPadreid">
<input wsam:Action="http://services.acuario/ProgramaWS/ProgramaPorPadreidRequest" message="tns:ProgramaPorPadreid"/>
<output wsam:Action="http://services.acuario/ProgramaWS/ProgramaPorPadreidResponse" message="tns:ProgramaPorPadreidResponse"/>
</operation>
<operation name="findProgramaByTipo">
<input wsam:Action="http://services.acuario/ProgramaWS/findProgramaByTipoRequest" message="tns:findProgramaByTipo"/>
<output wsam:Action="http://services.acuario/ProgramaWS/findProgramaByTipoResponse" message="tns:findProgramaByTipoResponse"/>
</operation>
<operation name="findProgramaByNombre">
<input wsam:Action="http://services.acuario/ProgramaWS/findProgramaByNombreRequest" message="tns:findProgramaByNombre"/>
<output wsam:Action="http://services.acuario/ProgramaWS/findProgramaByNombreResponse" message="tns:findProgramaByNombreResponse"/>
</operation>
<operation name="listaProgramasTipo">
<input wsam:Action="http://services.acuario/ProgramaWS/listaProgramasTipoRequest" message="tns:listaProgramasTipo"/>
<output wsam:Action="http://services.acuario/ProgramaWS/listaProgramasTipoResponse" message="tns:listaProgramasTipoResponse"/>
</operation>
<operation name="editPrograma">
<input wsam:Action="http://services.acuario/ProgramaWS/editProgramaRequest" message="tns:editPrograma"/>
<output wsam:Action="http://services.acuario/ProgramaWS/editProgramaResponse" message="tns:editProgramaResponse"/>
</operation>
<operation name="createPrograma">
<input wsam:Action="http://services.acuario/ProgramaWS/createProgramaRequest" message="tns:createPrograma"/>
<output wsam:Action="http://services.acuario/ProgramaWS/createProgramaResponse" message="tns:createProgramaResponse"/>
</operation>
<operation name="createIdPrograma">
<input wsam:Action="http://services.acuario/ProgramaWS/createIdProgramaRequest" message="tns:createIdPrograma"/>
<output wsam:Action="http://services.acuario/ProgramaWS/createIdProgramaResponse" message="tns:createIdProgramaResponse"/>
</operation>
<operation name="findAllPrograma">
<input wsam:Action="http://services.acuario/ProgramaWS/findAllProgramaRequest" message="tns:findAllPrograma"/>
<output wsam:Action="http://services.acuario/ProgramaWS/findAllProgramaResponse" message="tns:findAllProgramaResponse"/>
</operation>
<operation name="ProgramaPorTipo">
<input wsam:Action="http://services.acuario/ProgramaWS/ProgramaPorTipoRequest" message="tns:ProgramaPorTipo"/>
<output wsam:Action="http://services.acuario/ProgramaWS/ProgramaPorTipoResponse" message="tns:ProgramaPorTipoResponse"/>
</operation>
<operation name="findProgramaById">
<input wsam:Action="http://services.acuario/ProgramaWS/findProgramaByIdRequest" message="tns:findProgramaById"/>
<output wsam:Action="http://services.acuario/ProgramaWS/findProgramaByIdResponse" message="tns:findProgramaByIdResponse"/>
</operation>
<operation name="removePrograma">
<input wsam:Action="http://services.acuario/ProgramaWS/removeProgramaRequest" message="tns:removePrograma"/>
<output wsam:Action="http://services.acuario/ProgramaWS/removeProgramaResponse" message="tns:removeProgramaResponse"/>
</operation>
<operation name="findPrograma">
<input wsam:Action="http://services.acuario/ProgramaWS/findProgramaRequest" message="tns:findPrograma"/>
<output wsam:Action="http://services.acuario/ProgramaWS/findProgramaResponse" message="tns:findProgramaResponse"/>
</operation>
<operation name="countPrograma">
<input wsam:Action="http://services.acuario/ProgramaWS/countProgramaRequest" message="tns:countPrograma"/>
<output wsam:Action="http://services.acuario/ProgramaWS/countProgramaResponse" message="tns:countProgramaResponse"/>
</operation>
</portType>
<binding name="ProgramaWSPortBinding" type="tns:ProgramaWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ProgramaPorPadreid">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findProgramaByTipo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findProgramaByNombre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listaProgramasTipo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editPrograma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createPrograma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createIdPrograma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllPrograma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ProgramaPorTipo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findProgramaById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removePrograma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findPrograma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countPrograma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ProgramaWS">
<port name="ProgramaWSPort" binding="tns:ProgramaWSPortBinding">
<soap:address location="http://localhost:8080/AcuarioWeb/ProgramaWS"/>
</port>
</service>
</definitions>