xml-resources/web-service-references/DiariodetalleWS/wsdl/localhost_8080/AcuarioWeb/DiariodetalleWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.acuario/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.acuario/" name="DiariodetalleWS">
<types>
<xsd:schema>
<xsd:import namespace="http://services.acuario/" schemaLocation="http://localhost:8080/AcuarioWeb/DiariodetalleWS?xsd=1"/>
</xsd:schema>
</types>
<message name="findByCuentacontableid">
<part name="parameters" element="tns:findByCuentacontableid"/>
</message>
<message name="findByCuentacontableidResponse">
<part name="parameters" element="tns:findByCuentacontableidResponse"/>
</message>
<message name="findDiariodetalleByFecha">
<part name="parameters" element="tns:findDiariodetalleByFecha"/>
</message>
<message name="findDiariodetalleByFechaResponse">
<part name="parameters" element="tns:findDiariodetalleByFechaResponse"/>
</message>
<message name="findByDiarioid">
<part name="parameters" element="tns:findByDiarioid"/>
</message>
<message name="findByDiarioidResponse">
<part name="parameters" element="tns:findByDiarioidResponse"/>
</message>
<message name="findDiariodetalle">
<part name="parameters" element="tns:findDiariodetalle"/>
</message>
<message name="findDiariodetalleResponse">
<part name="parameters" element="tns:findDiariodetalleResponse"/>
</message>
<message name="editDiariodetalle">
<part name="parameters" element="tns:editDiariodetalle"/>
</message>
<message name="editDiariodetalleResponse">
<part name="parameters" element="tns:editDiariodetalleResponse"/>
</message>
<message name="findAllDiariodetalle">
<part name="parameters" element="tns:findAllDiariodetalle"/>
</message>
<message name="findAllDiariodetalleResponse">
<part name="parameters" element="tns:findAllDiariodetalleResponse"/>
</message>
<message name="removeDiariodetalle">
<part name="parameters" element="tns:removeDiariodetalle"/>
</message>
<message name="removeDiariodetalleResponse">
<part name="parameters" element="tns:removeDiariodetalleResponse"/>
</message>
<message name="countDiariodetalle">
<part name="parameters" element="tns:countDiariodetalle"/>
</message>
<message name="countDiariodetalleResponse">
<part name="parameters" element="tns:countDiariodetalleResponse"/>
</message>
<message name="createDiariodetalle">
<part name="parameters" element="tns:createDiariodetalle"/>
</message>
<message name="createDiariodetalleResponse">
<part name="parameters" element="tns:createDiariodetalleResponse"/>
</message>
<message name="createIdDiariodetalle">
<part name="parameters" element="tns:createIdDiariodetalle"/>
</message>
<message name="createIdDiariodetalleResponse">
<part name="parameters" element="tns:createIdDiariodetalleResponse"/>
</message>
<portType name="DiariodetalleWS">
<operation name="findByCuentacontableid">
<input wsam:Action="http://services.acuario/DiariodetalleWS/findByCuentacontableidRequest" message="tns:findByCuentacontableid"/>
<output wsam:Action="http://services.acuario/DiariodetalleWS/findByCuentacontableidResponse" message="tns:findByCuentacontableidResponse"/>
</operation>
<operation name="findDiariodetalleByFecha">
<input wsam:Action="http://services.acuario/DiariodetalleWS/findDiariodetalleByFechaRequest" message="tns:findDiariodetalleByFecha"/>
<output wsam:Action="http://services.acuario/DiariodetalleWS/findDiariodetalleByFechaResponse" message="tns:findDiariodetalleByFechaResponse"/>
</operation>
<operation name="findByDiarioid">
<input wsam:Action="http://services.acuario/DiariodetalleWS/findByDiarioidRequest" message="tns:findByDiarioid"/>
<output wsam:Action="http://services.acuario/DiariodetalleWS/findByDiarioidResponse" message="tns:findByDiarioidResponse"/>
</operation>
<operation name="findDiariodetalle">
<input wsam:Action="http://services.acuario/DiariodetalleWS/findDiariodetalleRequest" message="tns:findDiariodetalle"/>
<output wsam:Action="http://services.acuario/DiariodetalleWS/findDiariodetalleResponse" message="tns:findDiariodetalleResponse"/>
</operation>
<operation name="editDiariodetalle">
<input wsam:Action="http://services.acuario/DiariodetalleWS/editDiariodetalleRequest" message="tns:editDiariodetalle"/>
<output wsam:Action="http://services.acuario/DiariodetalleWS/editDiariodetalleResponse" message="tns:editDiariodetalleResponse"/>
</operation>
<operation name="findAllDiariodetalle">
<input wsam:Action="http://services.acuario/DiariodetalleWS/findAllDiariodetalleRequest" message="tns:findAllDiariodetalle"/>
<output wsam:Action="http://services.acuario/DiariodetalleWS/findAllDiariodetalleResponse" message="tns:findAllDiariodetalleResponse"/>
</operation>
<operation name="removeDiariodetalle">
<input wsam:Action="http://services.acuario/DiariodetalleWS/removeDiariodetalleRequest" message="tns:removeDiariodetalle"/>
<output wsam:Action="http://services.acuario/DiariodetalleWS/removeDiariodetalleResponse" message="tns:removeDiariodetalleResponse"/>
</operation>
<operation name="countDiariodetalle">
<input wsam:Action="http://services.acuario/DiariodetalleWS/countDiariodetalleRequest" message="tns:countDiariodetalle"/>
<output wsam:Action="http://services.acuario/DiariodetalleWS/countDiariodetalleResponse" message="tns:countDiariodetalleResponse"/>
</operation>
<operation name="createDiariodetalle">
<input wsam:Action="http://services.acuario/DiariodetalleWS/createDiariodetalleRequest" message="tns:createDiariodetalle"/>
<output wsam:Action="http://services.acuario/DiariodetalleWS/createDiariodetalleResponse" message="tns:createDiariodetalleResponse"/>
</operation>
<operation name="createIdDiariodetalle">
<input wsam:Action="http://services.acuario/DiariodetalleWS/createIdDiariodetalleRequest" message="tns:createIdDiariodetalle"/>
<output wsam:Action="http://services.acuario/DiariodetalleWS/createIdDiariodetalleResponse" message="tns:createIdDiariodetalleResponse"/>
</operation>
</portType>
<binding name="DiariodetalleWSPortBinding" type="tns:DiariodetalleWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findByCuentacontableid">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findDiariodetalleByFecha">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByDiarioid">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findDiariodetalle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editDiariodetalle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllDiariodetalle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeDiariodetalle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countDiariodetalle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createDiariodetalle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createIdDiariodetalle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="DiariodetalleWS">
<port name="DiariodetalleWSPort" binding="tns:DiariodetalleWSPortBinding">
<soap:address location="http://localhost:8080/AcuarioWeb/DiariodetalleWS"/>
</port>
</service>
</definitions>