xml-resources/web-service-references/ConstanteWS/wsdl/localhost_8080/AcuarioWeb/ConstanteWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.acuario/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.acuario/" name="ConstanteWS">
<types>
<xsd:schema>
<xsd:import namespace="http://services.acuario/" schemaLocation="http://localhost:8080/AcuarioWeb/ConstanteWS?xsd=1"/>
</xsd:schema>
</types>
<message name="findConstanteByCodigo">
<part name="parameters" element="tns:findConstanteByCodigo"/>
</message>
<message name="findConstanteByCodigoResponse">
<part name="parameters" element="tns:findConstanteByCodigoResponse"/>
</message>
<message name="createIdConstante">
<part name="parameters" element="tns:createIdConstante"/>
</message>
<message name="createIdConstanteResponse">
<part name="parameters" element="tns:createIdConstanteResponse"/>
</message>
<message name="findConstanteByCodigoMnt">
<part name="parameters" element="tns:findConstanteByCodigoMnt"/>
</message>
<message name="findConstanteByCodigoMntResponse">
<part name="parameters" element="tns:findConstanteByCodigoMntResponse"/>
</message>
<message name="findConstanteByCodigoTipo">
<part name="parameters" element="tns:findConstanteByCodigoTipo"/>
</message>
<message name="findConstanteByCodigoTipoResponse">
<part name="parameters" element="tns:findConstanteByCodigoTipoResponse"/>
</message>
<message name="findConstante">
<part name="parameters" element="tns:findConstante"/>
</message>
<message name="findConstanteResponse">
<part name="parameters" element="tns:findConstanteResponse"/>
</message>
<message name="countConstante">
<part name="parameters" element="tns:countConstante"/>
</message>
<message name="countConstanteResponse">
<part name="parameters" element="tns:countConstanteResponse"/>
</message>
<message name="removeConstante">
<part name="parameters" element="tns:removeConstante"/>
</message>
<message name="removeConstanteResponse">
<part name="parameters" element="tns:removeConstanteResponse"/>
</message>
<message name="findAllConstante">
<part name="parameters" element="tns:findAllConstante"/>
</message>
<message name="findAllConstanteResponse">
<part name="parameters" element="tns:findAllConstanteResponse"/>
</message>
<message name="createConstante">
<part name="parameters" element="tns:createConstante"/>
</message>
<message name="createConstanteResponse">
<part name="parameters" element="tns:createConstanteResponse"/>
</message>
<message name="editConstante">
<part name="parameters" element="tns:editConstante"/>
</message>
<message name="editConstanteResponse">
<part name="parameters" element="tns:editConstanteResponse"/>
</message>
<portType name="ConstanteWS">
<operation name="findConstanteByCodigo">
<input wsam:Action="http://services.acuario/ConstanteWS/findConstanteByCodigoRequest" message="tns:findConstanteByCodigo"/>
<output wsam:Action="http://services.acuario/ConstanteWS/findConstanteByCodigoResponse" message="tns:findConstanteByCodigoResponse"/>
</operation>
<operation name="createIdConstante">
<input wsam:Action="http://services.acuario/ConstanteWS/createIdConstanteRequest" message="tns:createIdConstante"/>
<output wsam:Action="http://services.acuario/ConstanteWS/createIdConstanteResponse" message="tns:createIdConstanteResponse"/>
</operation>
<operation name="findConstanteByCodigoMnt">
<input wsam:Action="http://services.acuario/ConstanteWS/findConstanteByCodigoMntRequest" message="tns:findConstanteByCodigoMnt"/>
<output wsam:Action="http://services.acuario/ConstanteWS/findConstanteByCodigoMntResponse" message="tns:findConstanteByCodigoMntResponse"/>
</operation>
<operation name="findConstanteByCodigoTipo">
<input wsam:Action="http://services.acuario/ConstanteWS/findConstanteByCodigoTipoRequest" message="tns:findConstanteByCodigoTipo"/>
<output wsam:Action="http://services.acuario/ConstanteWS/findConstanteByCodigoTipoResponse" message="tns:findConstanteByCodigoTipoResponse"/>
</operation>
<operation name="findConstante">
<input wsam:Action="http://services.acuario/ConstanteWS/findConstanteRequest" message="tns:findConstante"/>
<output wsam:Action="http://services.acuario/ConstanteWS/findConstanteResponse" message="tns:findConstanteResponse"/>
</operation>
<operation name="countConstante">
<input wsam:Action="http://services.acuario/ConstanteWS/countConstanteRequest" message="tns:countConstante"/>
<output wsam:Action="http://services.acuario/ConstanteWS/countConstanteResponse" message="tns:countConstanteResponse"/>
</operation>
<operation name="removeConstante">
<input wsam:Action="http://services.acuario/ConstanteWS/removeConstanteRequest" message="tns:removeConstante"/>
<output wsam:Action="http://services.acuario/ConstanteWS/removeConstanteResponse" message="tns:removeConstanteResponse"/>
</operation>
<operation name="findAllConstante">
<input wsam:Action="http://services.acuario/ConstanteWS/findAllConstanteRequest" message="tns:findAllConstante"/>
<output wsam:Action="http://services.acuario/ConstanteWS/findAllConstanteResponse" message="tns:findAllConstanteResponse"/>
</operation>
<operation name="createConstante">
<input wsam:Action="http://services.acuario/ConstanteWS/createConstanteRequest" message="tns:createConstante"/>
<output wsam:Action="http://services.acuario/ConstanteWS/createConstanteResponse" message="tns:createConstanteResponse"/>
</operation>
<operation name="editConstante">
<input wsam:Action="http://services.acuario/ConstanteWS/editConstanteRequest" message="tns:editConstante"/>
<output wsam:Action="http://services.acuario/ConstanteWS/editConstanteResponse" message="tns:editConstanteResponse"/>
</operation>
</portType>
<binding name="ConstanteWSPortBinding" type="tns:ConstanteWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findConstanteByCodigo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createIdConstante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findConstanteByCodigoMnt">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findConstanteByCodigoTipo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findConstante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="countConstante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeConstante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllConstante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createConstante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editConstante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ConstanteWS">
<port name="ConstanteWSPort" binding="tns:ConstanteWSPortBinding">
<soap:address location="http://localhost:8080/AcuarioWeb/ConstanteWS"/>
</port>
</service>
</definitions>