xml-resources/web-service-references/InsumoempresaWS/wsdl/localhost_8080/AcuarioWeb/InsumoempresaWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://services.acuario/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.acuario/">

<xs:element name="countInsumoempresa" type="tns:countInsumoempresa"/>

<xs:element name="countInsumoempresaResponse" type="tns:countInsumoempresaResponse"/>

<xs:element name="createIdInsumoempresa" type="tns:createIdInsumoempresa"/>

<xs:element name="createIdInsumoempresaResponse" type="tns:createIdInsumoempresaResponse"/>

<xs:element name="createInsumoempresa" type="tns:createInsumoempresa"/>

<xs:element name="createInsumoempresaResponse" type="tns:createInsumoempresaResponse"/>

<xs:element name="editInsumoempresa" type="tns:editInsumoempresa"/>

<xs:element name="editInsumoempresaResponse" type="tns:editInsumoempresaResponse"/>

<xs:element name="empresa" type="tns:empresa"/>

<xs:element name="findAllInsumoempresa" type="tns:findAllInsumoempresa"/>

<xs:element name="findAllInsumoempresaResponse" type="tns:findAllInsumoempresaResponse"/>

<xs:element name="findByInsumoempresacodigo" type="tns:findByInsumoempresacodigo"/>

<xs:element name="findByInsumoempresacodigoResponse" type="tns:findByInsumoempresacodigoResponse"/>

<xs:element name="findInsumoempresa" type="tns:findInsumoempresa"/>

<xs:element name="findInsumoempresaByCodigo" type="tns:findInsumoempresaByCodigo"/>

<xs:element name="findInsumoempresaByCodigoResponse" type="tns:findInsumoempresaByCodigoResponse"/>

<xs:element name="findInsumoempresaByNombre" type="tns:findInsumoempresaByNombre"/>

<xs:element name="findInsumoempresaByNombreResponse" type="tns:findInsumoempresaByNombreResponse"/>

<xs:element name="findInsumoempresaResponse" type="tns:findInsumoempresaResponse"/>

<xs:element name="insumo" type="tns:insumo"/>

<xs:element name="insumoempresa" type="tns:insumoempresa"/>

<xs:element name="persona" type="tns:persona"/>

<xs:element name="removeInsumoempresa" type="tns:removeInsumoempresa"/>

<xs:element name="removeInsumoempresaResponse" type="tns:removeInsumoempresaResponse"/>

<xs:complexType name="editInsumoempresa">
<xs:sequence>
<xs:element name="entity" type="tns:insumoempresa" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insumoempresa">
<xs:sequence>
<xs:element name="empresa" type="tns:empresa" minOccurs="0"/>
<xs:element name="insumo" type="tns:insumo" minOccurs="0"/>
<xs:element name="insumoempresaPK" type="tns:insumoempresaPK" minOccurs="0"/>
<xs:element name="insumoempresacompra" type="xs:dateTime" minOccurs="0"/>
<xs:element name="insumoempresaegresos" type="xs:decimal" minOccurs="0"/>
<xs:element name="insumoempresaestado" type="xs:string" minOccurs="0"/>
<xs:element name="insumoempresaingresos" type="xs:decimal" minOccurs="0"/>
<xs:element name="insumoempresareservado" type="xs:decimal" minOccurs="0"/>
<xs:element name="insumoempresasecuencia" type="xs:short" minOccurs="0"/>
<xs:element name="insumoempresastockactual" type="xs:decimal" minOccurs="0"/>
<xs:element name="insumoempresastockinicial" type="xs:decimal" minOccurs="0"/>
<xs:element name="insumoempresastockmaximo" type="xs:decimal" minOccurs="0"/>
<xs:element name="insumoempresastockminimo" type="xs:decimal" minOccurs="0"/>
<xs:element name="insumoempresavigencia" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="empresa">
<xs:sequence>
<xs:element name="empresacoordlat" type="xs:decimal" minOccurs="0"/>
<xs:element name="empresacoordlon" type="xs:decimal" minOccurs="0"/>
<xs:element name="empresadescripcion" type="xs:string" minOccurs="0"/>
<xs:element name="empresadiario" type="xs:int" minOccurs="0"/>
<xs:element name="empresadireccion" type="xs:string" minOccurs="0"/>
<xs:element name="empresaempleado" type="xs:int" minOccurs="0"/>
<xs:element name="empresaestado" type="xs:string" minOccurs="0"/>
<xs:element name="empresaid" type="xs:int" minOccurs="0"/>
<xs:element name="empresanombre" type="xs:string" minOccurs="0"/>
<xs:element name="empresarut" type="xs:string" minOccurs="0"/>
<xs:element name="empresatelefono" type="xs:string" minOccurs="0"/>
<xs:element name="empresatransaccion" type="xs:int" minOccurs="0"/>
<xs:element name="personaid" type="tns:persona" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="persona">
<xs:sequence>
<xs:element name="personaapellidos" type="xs:string" minOccurs="0"/>
<xs:element name="personaciudad" type="xs:string" minOccurs="0"/>
<xs:element name="personacomuna" type="xs:string" minOccurs="0"/>
<xs:element name="personacoordlat" type="xs:decimal" minOccurs="0"/>
<xs:element name="personacoordlon" type="xs:decimal" minOccurs="0"/>
<xs:element name="personacorreo" type="xs:string" minOccurs="0"/>
<xs:element name="personadireccion" type="xs:string" minOccurs="0"/>
<xs:element name="personaestado" type="xs:string" minOccurs="0"/>
<xs:element name="personafoto" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="personaid" type="xs:int" minOccurs="0"/>
<xs:element name="personamovil" type="xs:string" minOccurs="0"/>
<xs:element name="personanombres" type="xs:string" minOccurs="0"/>
<xs:element name="personarut" type="xs:string" minOccurs="0"/>
<xs:element name="personatelefono" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insumo">
<xs:sequence>
<xs:element name="insumocodigo" type="xs:string" minOccurs="0"/>
<xs:element name="insumodescripcion" type="xs:string" minOccurs="0"/>
<xs:element name="insumoestado" type="xs:string" minOccurs="0"/>
<xs:element name="insumofoto" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="insumoid" type="xs:int" minOccurs="0"/>
<xs:element name="insumonombre" type="xs:string" minOccurs="0"/>
<xs:element name="insumopresentacion" type="xs:string" minOccurs="0"/>
<xs:element name="insumotipo" type="xs:string" minOccurs="0"/>
<xs:element name="insumounmed" type="xs:string" minOccurs="0"/>
<xs:element name="insumovalor" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insumoempresaPK">
<xs:sequence>
<xs:element name="empresaid" type="xs:int"/>
<xs:element name="insumoid" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editInsumoempresaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findInsumoempresa">
<xs:sequence>
<xs:element name="id" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findInsumoempresaResponse">
<xs:sequence>
<xs:element name="return" type="tns:insumoempresa" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeInsumoempresa">
<xs:sequence>
<xs:element name="entity" type="tns:insumoempresa" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeInsumoempresaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createIdInsumoempresa">
<xs:sequence>
<xs:element name="entity" type="tns:insumoempresa" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createIdInsumoempresaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findInsumoempresaByCodigo">
<xs:sequence>
<xs:element name="codigo" type="xs:string" minOccurs="0"/>
<xs:element name="empresaid" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findInsumoempresaByCodigoResponse">
<xs:sequence>
<xs:element name="return" type="tns:insumoempresa" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllInsumoempresa">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllInsumoempresaResponse">
<xs:sequence>
<xs:element name="return" type="tns:insumoempresa" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findInsumoempresaByNombre">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="empresaid" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findInsumoempresaByNombreResponse">
<xs:sequence>
<xs:element name="return" type="tns:insumoempresa" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="countInsumoempresa">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="countInsumoempresaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createInsumoempresa">
<xs:sequence>
<xs:element name="entity" type="tns:insumoempresa" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createInsumoempresaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByInsumoempresacodigo">
<xs:sequence>
<xs:element name="codigo" type="xs:string" minOccurs="0"/>
<xs:element name="empresaid" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByInsumoempresacodigoResponse">
<xs:sequence>
<xs:element name="return" type="tns:insumoempresa" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>